@charset "UTF-8";

.mypage{
	// 내정보 화면
	.my-lv{
		position:relative;
		padding-top:52px;

		.partner-visual{
			.swiper-slide{
				a{
					display:block;
					position:relative;
					padding-left:160px;
				}
				.img{
					position:absolute;
					top:0;
					lefT:0;
					width:150px;
				}
				.txt-module{
					min-height:112px;
				}
				.tit{
					padding-top:15px;
					@include fontSize(12,500);
					color:$navy-070;
					@include ell(1);
				}
				.desc-md{
					margin-top:13px;
					@include fontSize(12);
					color:$navy-040;
					@include ell(2);
				}
			}
			.swiper-pagination{
				margin-top:24px;
			}
		}

		.section{
			padding:0;
			&:not(.membership){
				padding-bottom:25px;
			}
		}

		.title-area{
			.title-sm{
				display:block;
				position:relative;
				padding:16px 0;

				.ico{
					position:absolute;
					top:50%;
					right:0;
					transform:translate(0,-50%);
				}
			}
		}
		.rating{
			.btn-link{
				position:absolute;
				top:28px;
				right:2px;
			}
			.ui-svg-chart{
				position:relative;
			}
			.circle-progress-wrap {
				position: relative;
				width: 182px;
				height: 182px;
				margin:0 auto;
				&::before{
					display:block;
					position:absolute;
					bottom:42px;
					right:8px;
					z-index:10;
					width:18px;
					height:18px;
					content:"";
					background:url(#{$url-content}bg_progress_circle.svg) no-repeat;
					background-size:100%;
				}
			}
			.circle-progress {
				transform: rotate(151deg);
			}
			.frame,
			.circle {
				fill: none;
				stroke-linecap:round
			}
			.frame {
				stroke-dasharray:480.788;
				stroke-dashoffset:131.947;
				stroke: #eceeef;
			}
			.circle {
				opacity:0;
				stroke: $green-040;
				transition: opacity .3s 1.3s, stroke-dashoffset 1s .3s;
			}
			.rating-badge{
				display:inline-block;
				position:absolute;
				top:38px;
				left:50%;
				width:88px;
				height:88px;
				transform:translate(-50%, 0);
				img{
					width:100%;
					height:100%;
				}
			}
			.txt-module{
				margin-top:-22px;
				text-align:center;
			}
			.txt-lv{
				@include vDom();
				height:18px;
				padding:0 6px;
				@include fontSize(10);
				border-radius:10px;
				border:1px solid $navy-020;
			}
			.txt{
				display:inline-block;
				margin-left:5px;
				@include fontSize(14,500);
			}

			.lvup-info{
				margin-top:14px;
				text-align:center;
				.tip-txt{
					@include fontSize(12);
				}
				.time-remaining{
					margin-top:2px;
					@include fontSize(16,500);
				}
				.rental{
					margin-top:16px;
					color:$navy-030;
					@include fontSize(12);
				}
			}

			.grid-flex{
				margin-top:16px;
				.flex:first-child{
					position:relative;
					&::before{
						display:block;
						position:absolute;
						top:0;
						right:0;
						width:1px;
						height:36px;
						content:"";
						transform:translate(50%,0);
						background-color: $navy-010;
					}
				}
				.dt{
					color:$navy-040;
					@include fontSize(12,500);
				}
				.value{
					margin-top:2px;
					@include fontSize(16,500);
				}
			}
		}
		.distance{
			padding:34px 11px 0 18px;
			.desc-md{
				margin-top:24px;
				@include fontSize(16,500);
				text-align:center;
				.per{
					color:$default;
				}
			}
		}
		.gauge{
			position:relative;
			height:4px;
			border-top:4px dotted #DBDFE0;
			.per{
				position:absolute;
				top:-4px;
				left:0;
				width:0;
				height:4px;
				transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 500ms;
				background-color: $green-060;
			}
			.point{
				.name{
					display:inline-block;
					position:absolute;
					top:-36px;
					@include fontSize(12,500);
					transform:translate(-50%,0);
				}
				.marker{
					display:block;
					position:absolute;
					top:calc(50% - 2px);
					width:10px;
					height:10px;
					background-color:$gray-000;
					border:2px solid $navy-020;
					border-radius:$border-radius-circle;
					transform:translate(-50%,-50%);
					transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 500ms;
					&.active{
						border-color:$default;
						background-color:$default;
					}
				}
				&.home{
					.marker{
						width:24px;
						height:24px;
						border:0;
						background:url(#{$url-content}ic_car_move.svg) no-repeat;
					}
				}
				&.center{
					.name{
						left:50%;
					}
					.marker{
						left:50%;
					}
				}
				&.last{
					.name{
						left:initial;
						right:0;
						transform:translate(50%,0);
					}
					.marker{
						left:initial;
						right:0;
						transform:translate(50%,-50%);
					}
				}
			}
			// .home{
			// 	.marker{
			// 		display:block;
			// 		width:24px;
			// 		height:24px;
			// 		background:url(#{$url-content}ic_car_move.svg) no-repeat;
			// 	}
			// }
		}
		.mission{
			padding-top:16px;
			.desc-md{
				font-weight:500;
				letter-spacing:0;
			}
			.btn-group{
				margin-top:16px;
				justify-content:center;
				.btn{
					flex:0 0 auto;
					border-radius:17px;
				}
			}
		}
		.coupon-list,.partner-visual{
			margin-top:8px;
		}
	}

	// 결제수단
	.payment{
		padding:32px 0 0;
		.desc-sm{
			display:flex;
			align-items:center;
		}
		.count{
			display:inline-block;
			margin-left:5px;
			@include fontSize(14,700);
			color:$default;
			vertical-align:top;
		}

		.paymnet-list{
			.item{
				position:relative;
				margin-top:16px;
				padding:24px 20px;
				border:1px solid $navy-020;
				border-radius:10px;
				line-height:1;

				.name{
					@include fontSize(16,700);
					color:$navy-070;
				}
				.info{
					margin-top:9px;
				}
				.btn{
					position:absolute;
					top:20px;
					right:10px;
				}
			}
			.tag{
				margin-left:5px;
				vertical-align:top;
			}
			.btn-wrap{
				margin-top:16px;
				.btn:not(.link){
					height:86px;
				}
				.ico{
					margin-right:5px;
				}
			}
		}
	}
	.loading,.confirm{
		$value:calc(-50% - 49.5px);
		position:absolute;
		top:50%;
		left:50%;
		width:100%;
		text-align:center;
		transform:translate(-50%, #{$value});
		.desc-xxl{
			margin-top:24px;
			font-weight:500;
		}
		.desc-md{
			margin-top:24px;
			color:$navy-040;
			font-weight:500;
		}
	}

	// 카드등록
	.card-registration{
		padding:32px 0 80px;

		.btn-group{
			margin-top:24px;
			.ico{
				margin-right:8px;
			}
			@include fontSize(14);
		}
		.list{
			margin-top:24px;
		}
		.agree-group{
			margin-top:24px;
		}
	}

	//KT멤버십
	.membership-sale-info{
		margin-top:24px;
		.desc-xl{
			margin-top:16px;
			font-weight:500;
		}
		.list.sm{
			margin-top:16px;
		}
	}
	.agree-group{
		margin-top:32px;
	}
	.my-membership{
		padding-bottom:80px;
	}

	// 공지사항 목록
	.notice{
		.notice-list,.notice-detail{
			a{
				display:block;
				position:relative;
				padding:16px 20px 16px 0;
				border-bottom:1px solid $navy-020;
			}
			.cate{
				@include fontSize(12);
				.tag{
					margin-left:6px;
				}
			}
			.tit{
				margin-top:10px;
				@include fontSize(16);
				font-weight:500;
				@include ell();
			}
			.desc-md{
				font-weight:500;
				@include ell();
			}
			.date{
				margin-top:6px;
				@include fontSize(14);
				color:$navy-040;
			}
			.ico{
				position:absolute;
				top:50%;
				right:0;
				transform:translate(0,-50%);
			}
			.head{
				padding:32px 0 24px;
				.tit{
					margin:0;
					@include fontSize(20);
					font-weight:700;
				}
			}
			.cont{
				padding:24px 0;
			}
		}
	}

	// 주소 검색
	.address-search{
		margin-top:32px;
		.ip-group{
			.ip-label{
				margin-bottom:16px;
			}
		}
		.default{
			.desc-xxl{
				font-weight:500;
			}
			.tip{
				margin-top:32px;
				@include fontSize(12,500);
			}
			.list{
				margin-top:24px;
			}
		}
		.search-result{
			.code{
				@include fontSize(14);
				color:$default;
			}
		}
	}
}

.layer-wrap{
	&.mypage{
		.layer-body{
			// 개인정보 수입/이용 동의
			.terms{
				padding-bottom:80px;
				.title-sm:not(:first-child){
					margin-top:24px;
				}
				.list{
					margin-top:16px;
				}
			}
			.terms-module{
				padding-bottom:24px;

				&.notice{
					.title-sm{
						margin-top:16px;
					}
					.desc{
						margin-top:16px;
						color:$navy-040;
					}
				}
			}
			.notice-txt{
				margin-top:24px;
			}
		}
	}
	.layer-body{
		.level-up{
			.desc:not(.emp){
				margin-top:16px;
				color:$navy-040;
			}
		}
	}
}
