@charset "UTF-8";

.reservation{
	// 프리존 반납 & 그린존 반납
	.search-result{
		li{
			border-bottom:1px solid #F3F4F5;
		}
		a{
			display:block;
			padding:17px 0;
		}
		.keyword{
			font-size:$font-lg;
			font-weight:700;
			color:$navy-070;
			line-height:26px;
			@include ell;

			strong{
				color:$pink-060;
			}
		}
		.address{
			font-size:$font-sm2;
			color:$navy-040;
			line-height:20px;
			@include ell;
		}

		&.greenzon{
			a{
				position:relative;
				padding:17px 100px 17px 38px;
			}
			.keyword,.address{
				strong{
					color:$green-060;
				}
			}
			.ico{
				position:absolute;
				top:50%;
				left:0;
				transform:translate(0, -50%)
			}
			.price{
				position:absolute;
				bottom:15px;
				right:0;
				font-size:$font-xl;
				color:$navy-100;
				line-height:28px;

				em{
					display:inline-block;
					margin-left:3px;
					font-size:13px;
				}
			}
		}
	}

	// 대여예약 약관동의
	&.terms{
		.desc-xl{
			color:$navy-070;
			font-weight:700;
		}
		.agree-wrap{
			.check-all{
				border-bottom:1px solid $navy-020;
			}
		}
	}
}
