@charset "UTF-8";

.agree-group{
	.check-all {
        border-bottom: 1px solid #d9dddf;
        margin-bottom: 16px;
        padding-bottom: 16px;
		span{
			@include fontSize(20);
			color:$navy-070;
			font-weight: 500;
		}
	}

	.agree-module{
		margin-top:16px;
		.item{
			position:relative;
			padding-left:25px;

			&:not(:first-child){
				margin-top:8px;
			}

			&.active{
				.ico-check{
					background-image:url(#{$url-ico}icon_check_on.svg);
				}
			}
		}

		a{
			display:block;
			position:relative;
			padding:0 27px 0 35px;
		}

		.emp{
			display:inline-block;
			position:absolute;
			top:0;
			left:0;
			font-size:$font-md;
			color:#333;
			line-height:23px;
		}

		.text{
			font-size:$font-md;
			color:#8C9496;
			line-height:23px;
			word-break:keep-all;
		}

		.btn-check{
			display:inline-block;
			position:absolute;
			top:2px;
			left:0;
		}
		a{
			.ico{
				position:absolute;
				right:0;
				&.next-sm{
					top:2px;
				}
				&.arrow-bot-nav030{
					top:0px;
				}
			}
		}
	}
}

.reservation{
	// 예약하기
	.reservation-module{
		line-height:1;
		.title-xs{
			font-size:$font-md;
			line-height:1;
			font-weight:500;
		}

		.agree-title{
			font-size:$font-xl;
			font-weight:700;
		}

		.btn-link{
			min-height:24px;
			line-height:24px;
			color:$navy-070;
			.ico{
				margin-left:8px;
				vertical-align:top;
			}
		}

		.section{
			position:relative;
			padding:0;

			.agree-group{
				margin-top:24px;
			}
			&:not(:first-child){
				padding:32px 0 24px;

				&:before{
					display:block;
					position:absolute;
					top:0;
					left:-20px;
					width:calc(100% + 40px);
					height:11px;
					content:"";
					background-color:#F3F4F5;
				}
			}
		}

		.car-info{
			margin-top:32px;
			text-align:center;
			.module{
				display:inline-flex;
				align-items:center;
				position:relative;
				width:264px;
				margin:0 auto;
				text-align:left;
				.ico{
					position:absolute;
					top:50%;
					right:0;
					transform:translate(0,-50%);
				}
			}
			a{
				display:inline-flex;
				justify-items:center;
				align-items:center;
			}
			.img{
				display:inline-block;
				width:110px;
				height:110px;
				img{
					width:100%;
					height:100%;
				}
			}
			.info{
				display:inline-block;
				margin-left:10px;
				text-align:left;

				.tag-module{
					position:absolute;
					top:0;
					left:0;
					.tag:first-child{
						margin-left:0;
					}
				}

				.ev{
					font-size:$font-sm;
					color:$light-blue-040;
				}
				strong{
					display:block;
					margin-top:8px;
					font-size:$font-lg;
					line-height:1;
				}
				.name,.option{
					display:block;
					margin-top:8px;
					font-size:$font-sm;
					line-height:1;
					color:$navy-040
				}
				.option{
					em{
						&::before{
							display:inline-block;
							width:1px;
							height:12px;
							margin:0 4px;
							vertical-align:-1px;
							content:"";
							background-color: $navy-020;
						}
					}
				}
			}
			.tag-info-module{
				margin-top:32px;
			}
			.title-area{
				.title-xs{
					text-align:left;
				}
				.flex:last-child{
					color:$default;
				}
			}
			.desc-sm{
				font-size:$font-sm;
				color:$navy-040;
				line-height:1;
				text-align:left;
			}
			.grid-flex{
				&.title-area{
					margin-top:32px;
					padding-top:24px;
					font-size:$font-md;
					font-weight:500;
					border-top:1px solid $navy-020;
				}
			}
		}
		.desc-sm{
			margin:16px 0 28px;
		}

		.title-area{
			.tag{
				margin-left:5px;
				vertical-align:top;
			}

			.flex{
				font-size:$font-md;
			}
			.under{
				display:inline-block;
				font-size:$font-md;
				line-height:18px;
				border-bottom:1px solid #303E47
			}
			.price.deco-througt{
				font-size:$font-md;
			}
		}

		.radio-module{
			margin:16px 0 30px;

			.gc-radio{
				display:block;
				span{
					font-size:$font-sm2;
				}

				&:not(:first-child){
					margin-top:8px;
				}

				input{
					&:checked ~ em{
						color:$navy-070;
					}
				}
	
				.insur{
					float:right;
					margin-top:3px;
					font-weight:500;
				}
			}
		}

		.ip-group{
			margin:10px 0 15px;
			
			.flex:not(:last-child){
				padding-right:10px;
			}
			.ip-txt{
				height:48px;
				font-size:$font-md;
				font-weight:700;
				text-align:right;
			}
			.line{
				background-color:$navy-020;
			}
		}
		
		.grid-flex{
			margin-top:16px;
			&:first-child{
				margin-top:0;
			}
			&.green-point{
				padding-bottom:16px;
				border-bottom:1px solid $navy-020;
				.flex:first-child{
					color:$default;
				}
			}
			&.l-point{
				.flex:first-child{
					color:$blue-050;
				}
			}
			.flex{
				&:not(:nth-child(1)){
					text-align:right;
				}

				&:not(.title-area){
					&:first-child{
						&:not(.title-xs:first-child){
							font-size:$font-sm2;
						}
					}

					.point{
						display:inline-block;
						margin-left:7px;
						font-size:$font-sm;
						color:$green-060;
						font-weight:400;
					}
				}
			}
		}

		.return{
			color:#000;

			.ico{
				margin-right:6px;
			}
		}

		.price{
			margin-left:7px;
			font-weight:700;

			&.deco-througt{
				font-size:$font-sm2;
				color:$navy-040;
			}
		}

		.point-module{
			margin:24px -20px 0;
			padding:24px 20px 0;
			border-top:1px solid $navy-020;
		}

		.info-module{
			margin-top:16px;
			.info-title{
				margin:16px 0 10px;
				font-size:$font-sm;
				color:$navy-040;
				font-weight:500;
			}
			.desc-xs{
				color:$navy-040;
				line-height:16px;
			}		
		}

		.total{
			margin:26px -20px 0;
			padding:24px 20px 0;
			border-top:1px solid $navy-020;
			.flex:first-child{
				font-size:$font-xl !important;
				font-weight:700;
			}
			.price{
				display:block;
			}
			.price{
				font-size:$font-xl;
				color:$default;
				font-weight:700;
				&:first-child{
					font-size:$font-md;
					color:$navy-040;
				}
				&:last-child{
					margin-top:16px;
				}
			}
		}

		.corporation{
			.txt{
				display:block;
				color:$navy-020;
				font-weight:500;
			}
			.desc-cp{
				margin-top:9px;
				font-size:$font-sm;
				color:$navy-040;
				line-height:24px;
			}
		}
	}

	// 편도로 변경하기
	.one-way{
		padding-top:35px;
		.title{
			margin-bottom:0;
		}
		.link-box{
			margin-top:30px;
			border:1px solid $navy-020;
			border-radius:20px;
			background-size:100% 100%;
			background-position:center 271px;

			a{
				display:block;
				min-height:270px;
				padding:30px 20px 0;
			}

			&.free{
				margin-top:25px;
				background-image: url(#{$url-content}bg_oneway_free.svg);

				.emp{
					color:$pink-060;
				}
			}

			&.green{
				background-image: url(#{$url-content}bg_oneway_green.svg);

				.emp{
					color:$green-060;
				}
			}
		}

		.link-title{
			font-size:22px;
			font-weight:700;
			color:$navy-070;
		}

		.desc-md{
			color:$navy-040;
		}

		.bold{
			color:$navy-070;
			font-weight:700;
		}
	}
	
	// 프리존 반납 & 그린존 반납
	.search-result{
		li{
			border-bottom:1px solid $gray-020;
		}
		a,.item{
			display:block;
			padding:17px 0;
		}
		.keyword{
			font-size:$font-md;
			font-weight:500;
			color:$navy-070;
			@include ell;

			strong{
				color:$default;
			}
		}
		.address{
			margin-top:4px;
			font-size:$font-sm2;
			color:$navy-040;
			@include ell;
		}

		.price{
			position:absolute;
			bottom:14px;
			right:0;
			font-size:$font-md;
			color:$navy-100;
			line-height:28px;

			em{
				display:inline-block;
				margin-left:2px;
				font-size:$font-sm;
			}
		}

		&.greenzon{
			a,.item{
				position:relative;
				padding:17px 100px 17px 38px;
			}
			.keyword,.address{
				strong{
					color:$green-060;
				}
			}
			.ico{
				position:absolute;
				top:50%;
				left:0;
				transform:translate(0, -50%);

				&.xl2{
					width:30px;
					height:30px;
				}
			}
		}
	}

	// 대여예약 약관동의
	&.terms{
		.desc-xl{
			color:$navy-070;
			font-weight:700;
		}
		.agree-wrap{
			.check-all{
				border-bottom:1px solid $navy-020;
			}
		}
	}

	// 무료편도 예약하기
	&.fo{
		.reservation-module .car-info .title-area{
			margin-top:24px;
			padding-top:24px;
			@include border('t');
			.flex:first-child{
				color:$navy-070;
			}
		}
		.car-info{
			padding-bottom:24px;
			.flex:first-child{
				text-align:left;
			}
		}
		.reservation-module .total{
			.price{
				margin-top:0;
				color:$default;
				@include fontSize(20,700);
			}
		}
	}
}

.layer-wrap{
	.reservation{
	}
	&.reservation{
		// 반납 바텀 레이어
		.search-result{
			.item{
				padding:7px 0 10px 38px;
			}
			.price{
				position: static;
				margin-top:10px;
				padding-top:25px;
				text-align:center;
				font-size:$font-xl;
				font-weight:700;
				border-top:1px solid $navy-020;

				em{
					font-size:$font-xl;
					font-weight:500;
				}
			}
		}

		.tmp-faq-list{
			margin-top:28px;
		}
	}

	//그린카 플러스
	.greencar-plus{
		.dt{
			margin-top:16px;
			font-size:$font-xl;
			font-weight:500;
		}
		.dd{
			font-size:$font-sm2;
			line-height:20px;
		}

		.list{
			margin-top:16px;
			li{
				font-size:$font-sm2;
				line-height:20px;

				&::before{
					left:5px;
				}
			}
		}
	}

	&.rsv-one-way{
		.one-way{
			.desc {
				font-size:14px;
				line-height:20px;
				color:#8C989E;

				&-xl{
					margin-bottom:0;
					font-weight:500;
				}
			}
			.btn-wrap{
				margin-top:16px;
			}
		}
	}
}
