<!DOCTYPE html>
<html lang="ko">
<head>
@@include('@@webRoot/include/head.html')
<style>
.contents{padding:20px 40px 20px !important}
.contents .tmp-guide-box{margin-left:0;margin-right:0}
h2{margin-bottom:20px;font-size:30px}
</style>
</head>
<body>
	<div id="wrap">
		
		<!-- container -->
		<section id="container">
			<div class="contents">
				<h2>BUTTON</h2>

				<!-- Button -->
				<div class="tmp-guide-box guide-btn">
					<button type="button" class="btn">Button</button>
					<button type="button" class="btn primary">Button</button>
					<button type="button" class="btn secondary">Button</button>
					<button type="button" class="btn success">Button</button>
					<button type="button" class="btn info">Button</button>
					<button type="button" class="btn warning">Button</button>
					<button type="button" class="btn danger">Button</button>
					<br><br>
					<button type="button" class="btn line">Button</button>
					<button type="button" class="btn primary line">Button</button>
					<button type="button" class="btn secondary line">Button</button>
					<button type="button" class="btn success line">Button</button>
					<button type="button" class="btn info line">Button</button>
					<button type="button" class="btn warning line">Button</button>
					<button type="button" class="btn danger line">Button</button>
					<br><br>
					<button type="button" class="btn primary xs">Button</button>
					<button type="button" class="btn primary sm">Button</button>
					<button type="button" class="btn primary">Button</button>
					<button type="button" class="btn primary lg">Button</button>
					<button type="button" class="btn primary xl">Button</button>
					<br><br>
					<button type="button" class="btn primary full" disabled>disabled Button</button>
					<button type="button" class="btn primary full">Full Button</button>
				</div>
				<!-- //Button -->

				<!-- row -->
				<div class="btn-wrap">
					<div class="btn-group">
						<div class="btn primary sm">test</div>
						<div class="btn primary sm">test</div>
					</div>
				</div>
				
				<br>

				<!-- col -->
				<div class="btn-wrap">
					<div class="btn-group column">
						<div class="btn primary sm">test</div>
						<div class="btn primary">test</div>
						<div class="btn primary">test</div>
					</div>
				</div>


				
			</div>
		</section>
	</div>
	
	<script type="text/javascript">

	</script>
</body>
</html>