<!DOCTYPE html>
<html lang="ko">
<head>
@@include('@@webRoot/include/head.html')
<style>
.contents{padding:20px 40px 20px !important}
.contents .tmp-guide-box{margin-left:0;margin-right:0}
h2{margin-bottom:20px;font-size:30px}
</style>
</head>
<body>
	<div id="wrap">
		
		<!-- container -->
		<section id="container">
			<div class="contents">
				<h2>ETC</h2>

				<!-- Etc -->
				<!-- 별점 -->
				<div class="tmp-guide-box">
					<div class="star-rating-wrap">
						<input type="radio" name="stars" id="star_5" value="5">
						<label for="star_5"><span>5점 나이스!!!!!</span></label>

						<input type="radio" name="stars" id="star_4" value="4">
						<label for="star_4"><span>4점!!!!</span></label>

						<input type="radio" name="stars" id="star_3" value="3">
						<label for="star_3"><span>3점!!!</span></label>

						<input type="radio" name="stars" id="star_2" value="2">
						<label for="star_2"><span>2점 아쉬워요!</span></label>

						<input type="radio" name="stars" id="star_1" value="1">
						<label for="star_1"><span>1점ㅠㅠ</span></label>

						<input type="radio" name="stars" id="star_0" value="0" checked>
						<label for="star_0"><span>별점선택</span></label>
					</div>
				</div>
				<!-- 별점 -->

				<!-- Tab -->
				<div class="tmp-guide-box">
					<h2 class="guide-box-tit">Tab</h2>
					<div class="gc-tab">
						<ul>
							<li><a href="#" class="active">TAB01</a></li>
							<li><a href="#">TAB02TAB02TAB02</a></li>
							<li><a href="#">TAB03</a></li>
							<li><a href="#">TAB04</a></li>
							<li><a href="#">TAB05</a></li>
							<li><a href="#">TAB06</a></li>
						</ul>
						<span class="tab-indicator"></span>
					</div>
				</div>
				<!-- //Tab -->

				<!-- 말줄임 -->
				<div class="tmp-guide-box">
					<h2 class="guide-box-tit">Text</h2>
					<div class="tmp-txt1">한줄 말줄임 입니다한줄 말줄임 입니다한줄 말줄임 입니다한줄 말줄임 입니다한줄 말줄임 입니다한줄 말줄임 입니다한줄 말줄임 입니다한줄 말줄임 입니다한줄 말줄임 입니다한줄 말줄임 입니다한줄 말줄임 입니다한줄 말줄임 입니다.</div>
					<div class="tmp-txt2">두줄 말줄임 입니다두줄 말줄임 입니다두줄 말줄임 입니다두줄 말줄임 입니다두줄 말줄임 입니다두줄 말줄임 입니다두줄 말줄임 입니다두줄 말줄임 입니다두줄 말줄임 입니다두줄 말줄임 입니다두줄 말줄임 입니다두줄 말줄임 입니다.</div>
					<div class="tmp-txt3">세줄 말줄임 입니다세줄 말줄임 입니다세줄 말줄임 입니다세줄 말줄임 입니다세줄 말줄임 입니다세줄 말줄임 입니다세줄 말줄임 입니다세줄 말줄임 입니다세줄 말줄임 입니다세줄 말줄임 입니다세줄 말줄임 입니다세줄 말줄임 입니다.</div>
				</div>
				<!-- //말줄임 -->

				<!--  -->
				<div class="tmp-guide-box">
					<h2 class="guide-box-tit">Etc</h2>
					<button type="button" class="btn primary" onclick="accodianBox(slideDownBox);">Accodian Up Down</button>
					<button type="button" class="btn primary" onclick="openLayerPopup(tmpLayer01);">Layer Popup</button>
					<button type="button" class="btn primary" onclick="openLayerPopup(tmpLayer02);">Bottom Layer Popup</button>
					<div class="accodian-box" id="slideDownBox">
						<div class="accodian-box-inner">
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용<br>
							내용
						</div>
					</div>
				</div>
				<!-- // -->
				<!-- //Etc -->
			</div>

			<!-- Quick Menu -->
			<div class="quick-menu-wrap">
				<button type="button" class="quick-button" onclick="tmpQuickMenuCl(this);">Quick 메뉴 열기</button>
				<ul>
					<li><a href="#" class="type-menu01">MENU01</a></li>
					<li><a href="#" class="type-menu02">MENU02</a></li>
					<li><a href="#" class="type-menu03">MENU03</a></li>
					<li><a href="#" class="type-menu04">MENU04</a></li>
				</ul>
			</div>
			<!-- //Quick Menu -->

		</section>
	</div>
	
	<div class="layer-popup-wrap" id="tmpLayer01">
		<div class="layer-container">
			<div class="layer-header">Layer Popup</div>
			<div class="layer-contents">
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
			</div>
			<button type="button" class="layer-close" onclick="closeLayerPopup(this);">닫기</button>
		</div>
	</div>
	<div class="layer-popup-wrap type-bottom" id="tmpLayer02">
		<div class="layer-container">
			<div class="layer-header">Bottom Layer Popup</div>
			<div class="layer-contents" style="height:300px;">
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.<br>
				상품구매 및 리뷰를 등록하시면 마일리지가 적립됩니다.
			</div>
			<button type="button" class="layer-close" onclick="closeLayerPopup(this);">닫기</button>
		</div>
	</div>
	
	<script type="text/javascript">

		// 퍼블 임시 js
		// toogle box
		const accodianBox = (t) => {
			t.classList.toggle('active');
		};

		// open layer
		const openLayerPopup = (t) => {
			t.classList.add('active');
			t.addEventListener('click', dimmCloseCl);
			overflowCl(true);
		};

		// 영역밖 클릭시 layer close
		const dimmCloseCl = () => {
			if (event.target !== event.currentTarget) return;
			event.currentTarget.classList.remove('active');
			event.currentTarget.removeEventListener('click', dimmCloseCl);
			overflowCl(false);
		};

		// close layer
		const closeLayerPopup = (t) => {
			t.closest('.layer-popup-wrap').classList.remove('active');
			overflowCl(false);
		};

		// body 스크롤 위치 저장
		const scrollPosition = () => {
			var de = document.documentElement;
			var b = document.body;
			var now = {};
			now.Y = document.all ? (!de.scrollTop ? b.scrollTop : de.scrollTop) : (window.pageYOffset ? window.pageYOffset : window.scrollY);
			return now.Y;
		};

		// body 스크롤 막기
		const overflowCl = ($isHidden) => {
			const tLength = document.querySelectorAll('.layer-popup-wrap.active').length;
			$isHidden ? document.documentElement.classList.add('is-open') : tLength <= 0 && document.documentElement.classList.remove('is-open');
		};

		// quick menu
		const tmpQuickMenuCl = (t) => {
			t.closest('.quick-menu-wrap').classList.toggle('active');
		};
		
		// 별점
		const ratingWrap = document.documentElement.querySelectorAll('.star-rating-wrap');
		ratingWrap.forEach( t => {
			const labels = t.querySelectorAll('label');
			labels.forEach(l => {
				l.addEventListener('touchmove', e => {
					const touch = e.touches[0];
					const targetLabel = document.elementFromPoint(touch.clientX, touch.clientY);
					if (!targetLabel || !targetLabel.htmlFor) return;
					const targetInput = document.getElementById(targetLabel.htmlFor);
					targetInput.checked = true;
				});
			});
		});
	</script>
</body>
</html>