<!DOCTYPE html>
<html lang="ko">
<head>
@@include('@@webRoot/include/head.html')
<style>
.contents{padding:20px 40px 20px !important}
.contents .tmp-guide-box{margin-left:0;margin-right:0}
.contents > h2{margin-bottom:20px;font-size:30px}
</style>
</head>
<body>
	<div id="wrap">
		
		<!-- container -->
		<section id="container">
			<div class="contents">
				<h2>ETC</h2>

				<!-- Etc -->
				<!-- 별점 -->
				<div class="tmp-guide-box">
					<div class="star-rating-wrap">
						<input type="radio" name="stars" id="star_5" value="5">
						<label for="star_5"><span>5점 나이스!!!!!</span></label>

						<input type="radio" name="stars" id="star_4" value="4">
						<label for="star_4"><span>4점!!!!</span></label>

						<input type="radio" name="stars" id="star_3" value="3">
						<label for="star_3"><span>3점!!!</span></label>

						<input type="radio" name="stars" id="star_2" value="2">
						<label for="star_2"><span>2점 아쉬워요!</span></label>

						<input type="radio" name="stars" id="star_1" value="1">
						<label for="star_1"><span>1점ㅠㅠ</span></label>

						<input type="radio" name="stars" id="star_0" value="0" checked>
						<label for="star_0"><span>별점선택</span></label>
					</div>
				</div>
				<!-- 별점 -->

				<!-- Tab -->
				<div class="tmp-guide-box">
					<h2 class="guide-box-tit">Tab</h2>
					<div class="gc-tab">
						<ul>
							<li><a href="#" class="active">TAB01</a></li>
							<li><a href="#">TAB02TAB02TAB02</a></li>
							<li><a href="#">TAB03</a></li>
							<li><a href="#">TAB04</a></li>
							<li><a href="#">TAB05</a></li>
							<li><a href="#">TAB06</a></li>
						</ul>
						<span class="tab-indicator"></span>
					</div>
				</div>
				<!-- //Tab -->

				<!-- 말줄임 -->
				<div class="tmp-guide-box">
					<h2 class="guide-box-tit">Text</h2>
					
					<div class="no-data">
						<p class="desc">표시할 내용이 없습니다</p>
					</div>

				</div>
				<!-- //말줄임 -->

				<!--  -->
				<div class="tmp-guide-box">
					<h2 class="guide-box-tit">Etc</h2>
					<ul class="tmp-faq-list">
						<li>
							<button type="button"><strong class="hide-txt">질문</strong>(1)질문 제목이 출력됩니다.</button>
							<div data-box-type="accordion">
								<strong class="hide-txt">답변</strong>
								<div>
									답변이 출력됩니다.<br>
									답변이 출력됩니다.<br>
									답변이 출력됩니다.
								</div>
							</div>
						</li>
						<li>
							<button type="button"><strong class="hide-txt">질문</strong>(2)질문 제목이 출력됩니다.</button>
							<div data-box-type="accordion">
								<strong class="hide-txt">답변</strong>
								<div>
									답변이 출력됩니다.<br>
									답변이 출력됩니다.
								</div>
							</div>
						</li>
					</ul>

					<br>

					<div>
						<button type="button" class="btn primary" onclick="accordionBox();">accordion Up Down</button>
						<div data-box-type="accordion">
							<div>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용<br>
								내용
							</div>
						</div>
					</div>
					<button type="button" class="btn primary" onclick="openLayerPopup(tmpLayer01);" style="margin-top:10px">Middle Layer</button>
					<button type="button" class="btn primary" onclick="openLayerPopup(tmpLayer02);" style="margin-top:10px">Bottom Layer</button>
					<button type="button" class="btn primary" onclick="openLayerPopup(tmpLayer03);" style="margin-top:10px">Drag + Bottom Layer</button>
					<button type="button" class="btn primary" onclick="openLayerPopup(tmpLayer04);" style="margin-top:10px">Full Layer</button>
					
				</div>
				<!-- // -->
				<!-- //Etc -->
			</div>

			<!-- Quick Menu -->
			<div class="quick-menu-wrap">
				<button type="button" class="quick-button" onclick="tmpQuickMenuCl(this);"><span class="hide-txt">Quick 메뉴 열기</span></button>
				<ul>
					<li><a href="#" class="type-menu01"><span class="hide-txt">MENU01</span></a></li>
					<li><a href="#" class="type-menu02"><span class="hide-txt">MENU02</span></a></li>
					<li><a href="#" class="type-menu03"><span class="hide-txt">MENU03</span></a></li>
					<li><a href="#" class="type-menu04"><span class="hide-txt">MENU04</span></a></li>
				</ul>
			</div>
			<!-- //Quick Menu -->

		</section>
	</div>
	
	<!-- middle layer demo -->
	<div class="layer-popup-wrap" id="tmpLayer01">
		<div class="layer-container">
			<!-- layer contents in -->
			@@include('@@webRoot/html/reservation/SCR_GA_RV_0212_M01.html')
			<!-- //layer contents in -->
		</div>
	</div>
	<!-- //middle layer demo -->

	<!-- bottom layer demo -->
	<div class="layer-popup-wrap type-bottom" id="tmpLayer02">
		<div class="layer-container">
			<!-- layer contents in -->
			@@include('@@webRoot/html/reservation/SCR_GA_RV_0213_M01.html')
			<!-- //layer contents in -->
		</div>
	</div>
	<!-- //bottom layer demo -->

	<!-- bottom layer demo -->
	<div class="layer-popup-wrap type-bottom type-drag" id="tmpLayer03">
		<div class="layer-container">
			<!-- layer contents in -->
			@@include('@@webRoot/html/reservation/SCR_GA_RV_0213_M01.html')
			<!-- //layer contents in -->
		</div>
	</div>
	<!-- //bottom layer demo -->

	<!-- full layer demo -->
	<div class="layer-popup-wrap type-full" id="tmpLayer04">
		<div class="layer-container">
			<!-- layer contents in -->
			<div class="layer-header">
				@@include('@@webRoot/include/header.html', {
					type: "sub_pop",
					title: "full layer demo"
				})
			</div>
			<div class="layer-body">
				프리존 반납 안내<br>
				프리존 반납 안내<br>
				프리존 반납 안내<br>
				프리존 반납 안내<br>
				프리존 반납 안내<br>
				프리존 반납 안내
			</div>
			<!-- //layer contents in -->
		</div>
	</div>
	<!-- //full layer demo -->
	
	<script type="text/javascript">

		/* 
		* accordion box
		* 퍼블 임시 js
		*/
		const accordionBox = () => event.target.parentNode.classList.toggle('active');
		// 여러개 일떄
		Array.from(document.querySelector('.tmp-faq-list').querySelectorAll('button')).forEach(t => {
			t.addEventListener('click', accordionBox);
		});

		/*
		* open layer
		* 퍼블 임시 js
		*/
		const openLayerPopup = t => {
			t.classList.add('active');
			t.addEventListener('click', dimmCloseCl);
			overflowCl(true);
		};

		/*
		* 영역밖 클릭시 layer close
		* 퍼블 임시 js
		*/
		const dimmCloseCl = () => {
			if (event.target !== event.currentTarget) return;
			event.currentTarget.classList.remove('active');
			event.currentTarget.removeEventListener('click', dimmCloseCl);
			overflowCl(false);
		};

		/*
		* close layer
		* 퍼블 임시 js
		*/
		const closeLayerPopup = t => {
			t.closest('.layer-popup-wrap').classList.remove('active');
			overflowCl(false);
		};

		Array.from(document.querySelectorAll('.layer-header button')).forEach(t => {
			t.addEventListener('click', e => closeLayerPopup(e.target));
		});

		/*
		* body 스크롤 막기
		* 퍼블 임시 js
		*/
		const overflowCl = $isHidden => {
			const tLength = document.querySelectorAll('.layer-popup-wrap.active').length;
			$isHidden ? document.documentElement.classList.add('is-open') : tLength <= 0 && document.documentElement.classList.remove('is-open');
		};

		/*
		* quick menu
		* 퍼블 임시 js
		*/
		const tmpQuickMenuCl = t => t.closest('.quick-menu-wrap').classList.toggle('active');
		
		/*
		* 별점
		* 퍼블 임시 js
		*/
		const ratingWrap = Array.from(document.querySelectorAll('.star-rating-wrap'));
		ratingWrap.forEach( t => {
			const labels = t.querySelectorAll('label');
			labels.forEach(l => {
				l.addEventListener('touchmove', e => {
					const touch = e.touches[0];
					const targetLabel = document.elementFromPoint(touch.clientX, touch.clientY);
					if (!targetLabel || !targetLabel.htmlFor) return;
					const targetInput = document.getElementById(targetLabel.htmlFor);
					targetInput.checked = true;
				});
			});
		});
	</script>
</body>
</html>