<!DOCTYPE html>
<html lang="ko">
<head>
	<title>form</title>
	@@include('@@webRoot/include/head.html')
<style>
.contents{padding:20px 40px 20px !important}
.contents .tmp-guide-box{margin-left:0;margin-right:0}
h2{margin-bottom:20px;font-size:30px}
</style>
</head>
<body>
	<div id="wrap">
		
		<!-- container -->
		<section id="container">
			<div class="contents">
				<h2>form</h2>

				<!-- Checkbox -->
				<div class="tmp-guide-box">
					<h2 class="guide-box-tit">Checkbox</h2>

					<label for="tmpCheckbook1" class="gc-checkbox">
						<input type="checkbox" id="tmpCheckbook1" checked>
						<span>체크박스</span>
					</label>
					<br><br>
					<label for="tmpCheckbook2" class="gc-checkbox">
						<input type="checkbox" id="tmpCheckbook2">
						<span>체크박스</span>
					</label>
					<br><br>
					<label for="tmpSwitch01" class="gc-switch">
						<input type="checkbox" id="tmpSwitch01" checked>
						<span>Switch</span>
					</label>
					<label for="tmpSwitch02" class="gc-switch">
						<input type="checkbox" id="tmpSwitch02" checked disabled>
						<span>Switch disabled</span>
					</label>
					<br><br>
					<label for="tmpSwitch03" class="gc-switch green">
						<input type="checkbox" id="tmpSwitch03">
						<span>Switch disabled</span>
					</label>
					<label for="tmpSwitch04" class="gc-switch">
						<input type="checkbox" id="tmpSwitch04" disabled>
						<span>Switch disabled</span>
					</label>
				</div>
				<!-- //Checkbox -->

				<!-- Radio -->
				<div class="tmp-guide-box">
					<h2 class="guide-box-tit">Radio</h2>
					<label for="tmpRadio01" class="gc-radio">
						<input type="radio" name="tmpRadio01" id="tmpRadio01" checked>
						<span>Radio button</span>
					</label>
					<br><br>
					<label for="tmpRadio02" class="gc-radio">
						<input type="radio" name="tmpRadio01" id="tmpRadio02">
						<span>Radio button</span>
					</label>
					<br><br>
					<div class="gc-select">
						<select name="" id="">
							<option>은행 선택</option>
							<option>국민카드</option>
						</select>
					</div>
				</div>
				<!-- //Radio -->
                
            </div>
        </section>
	</div>
</body>
</html>