<!DOCTYPE html>
<html lang="ko">
<head>
@@include('@@webRoot/include/head.html')
</head>
<body>
	<div id="wrap">
		<!-- header -->
		<header id="header">
			<div class="head-cont">
				<div class="head-wrap">
					@@include('@@webRoot/include/header.html', {type: "sub_01"})
				</div>
			</div>
		</header>
		<!-- //header -->
		
		<!-- container -->
		<section id="container">
			<div class="contents" style="height:3000px">
				<div>sgsdgsd</div>
			</div>
			@@include('@@webRoot/include/bot_fix.html', {type: "type01"})
		</section>
		<!-- //container -->

	</div>
</body>
</html>