<!DOCTYPE html>
<html lang="ko">
<head>
<title>layout01</title>
@@include('@@webRoot/include/head.html')
</head>
<body>
	<div id="wrap">
		<!-- header -->
		@@include('@@webRoot/include/header.html', {
			type: "sub_01",
			title: "할인/적립"
		})
		<!-- //header -->
		
		<!-- container -->
		<section id="container">
			<div class="contents">
				
				<div class="grid-flex">
					<div class="flex col-3">Col-3 30%</div>
					<div class="flex col-7">Col-7 70%</div>
				</div>
				<div class="grid-flex">
					<div class="flex">Defualt</div>
					<div class="flex">Defualt</div>
				</div>
				<div class="grid-flex">
					<div class="flex col-7">Col-7 70%</div>
					<div class="flex col-3">Col-3 30%</div>
				</div>
				<style>
				.grid-flex{align-items:center;justify-content:center;}
				.flex{height:50px;background-color:#797979;color:#fff;}
				.flex:last-child{background-color:#999;}
				</style>


				@@include('@@webRoot/include/bot_fix.html', {type: "type01", title:"false", disabled:"false"})
			</div>
		</section>
		<!-- //container -->

		<div class="loading-bar">
			<div class="loading"></div>
			<div class="loading-svg">
				<svg class="progress" width="40" height="40">
					<defs>
						<linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
						  <stop offset="0%" stop-color="#133D57" />
						  <stop offset="100%" stop-color="#20A556" />
						</linearGradient>
					  </defs>
					<circle stroke="url(#gradient)" class="circle" cx="20" cy="20" r="17" stroke-width="6" />
				</svg>
			</div>
		</div>

	</div>
</body>
</html>