<!DOCTYPE html>
<html lang="ko">
<head>
@@include('@@webRoot/include/head.html')

</head>
<body>
	<div id="wrap">
		
		<!-- container -->
		<section id="container">
			<div class="contents">

				<!-- 
					기본 팝업    : 미들 팝업
					바텀 레이어  : type-bottom
					드래그 바텀  : type-bottom + type-drag
					풀 팝업      : type-full
					ex) layer-popup-wrap type-bottom 멀티 클레스
				 -->
				<div class="layer-popup-wrap">
					<div class="layer-container">
						
					</div>
				</div>
				
			</div>
		</section>

	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function(){
			const page = location.href;
			const pageName = page.split('#');
			const domWrap = document.querySelector('.layer-popup-wrap');
			const dom = document.querySelector('.layer-container');
			const url = '/html/'+pageName[1]+'/'+pageName[2] +'.html';
			pageName[3] !== undefined && domWrap.classList.add('type-' + pageName[3]);
			pageName[4] !== undefined && domWrap.classList.add('type-' + pageName[4]);
			console.log(pageName);
			fetch(url).then(response => response.text()).then(data =>{
				dom.innerHTML = data;
				// console.log(data);
				document.querySelector('.layer-popup-wrap').classList.add('active');

				complete();
			});
		});

		function complete(){
			// body
			const allEl = document.querySelectorAll('.tmp-faq-list');
			// 여러개 일떄
			[].forEach.call(allEl, (e) => {
				const accoEl = e.querySelector('button');
				
				accoEl.addEventListener('click', () => {
					event.currentTarget.parentNode.classList.toggle('active');
				});
			});

			const rangeEl = document.querySelector('.range-slide');
			if(rangeEl != null){
				function rangSlider(){
					const thumbEl = document.querySelector('.count-thumb');
					
					let min = rangeEl.getAttribute('min');
					let max = rangeEl.getAttribute('max');
					
					let rangeValue = rangeEl.value;
					let widthValue = rangeValue * (10 / rangeEl.getAttribute('max')) * 10;
					thumbEl.innerHTML = Number(rangeValue) + 1;
					thumbEl.style.left = widthValue + '%';
				}
	
				rangSlider();
				rangeEl.oninput = function(){
					rangSlider();
				}
			}
			
		}
	</script>
</body>
</html>