@charset "UTF-8";

@import "_libs/_benefit01";

.benefit {
    .cont {
        padding: 32px 0 24px;
    }
    .section {
        padding: 20px 0;
    }
    .section-title {
        @include flex-center();
        > div {
            @include flex-center();
        }
        .left {
            h3 {
                margin-left: 8px;
                color: $navy-040;
                @include fontSize(16, 500);
            }
        }
        .right {
            .btn {
                border-radius: 2rem;
                height: 24px;
            }
        }
    }
    .section-cont {
        .ip-group {
            .row {
                display: flex;
                align-items: center;
                input[type="text"],
                input[type="password"] {
                    flex: 1;
                    height: 48px;
                    padding: 0 20px;
                    border: 1px solid #d9d9d9;
                    border-radius: $border-radius;
                }
                .btn {
                    flex: 0 0 auto;
                    margin-left: 10px;
                }
            }
        }
    }
    .event-list {
        .event-item {
            > a {
                display: flex;
                padding: 20px 0;
            }
            .img-area {
                width: 100px;
                height: 100px;
                flex: 0 0 auto;
                border-radius: $border-radius;
                background-color: #d9d9d9;
                overflow: hidden;
                position: relative;
                > img {
                    width: 100%;
                    height: 100%;
                }
            }
            .text-area {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 10px;
                .tit-txt {
                    @include fontSize(18, 700);
                }
                .effective-date {
                    .date {
                        @include fontSize(14);
                        color: $navy-040;
                    }
                    .badge {
                        margin-left: 4px;
                    }
                }
            }
            &.expired {
                border: 0;
                .img-area {
                    &:before {
                        content: "종료";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: $gray-000;
                        @include fontSize(14, 500);
                        border-radius: $border-radius;
                        border: 1px solid #989b9d;
                        background-color: rgba($color: $black, $alpha: 0.8);
                        z-index: 10;
                        justify-content: center;
                        @include flex-center;
                    }
                }
            }
        }
    }
    .coupon-list {
        margin-top: 14px;
        > * + * {
            margin-top: 16px;
        }
        .coupon-item {
            padding: 20px;
            border: 1px solid $navy-020;
            border-radius: $border-radius;
            position: relative;
            background-image: none;
            @include flex-center;
            .coupon-desc {
                flex: 1;
            }
            .coupon-desc + .btn {
                flex: 0 0 auto;
            }
            .discount-type {
                display: inline-flex;
                align-items: center;
                height: 22px;
                padding: 0 12px;
                color: $navy-050;
                @include fontSize(12);
                background-color: $navy-010;
                border-radius: 2rem;
            }
            .discount-value {
                margin-top: 4px;
                @include flex-center();
                span {
                    &:nth-child(1) {
                        color: $navy-070;
                        @include fontSize(18, 700);
                    }
                    &:nth-child(2) {
                        margin-left: 4px;
                        color: $green-040;
                        @include fontSize(12, 500);
                    }
                }
            }
            .discount-desc {
                margin-top: 8px;
                color: $navy-070;
                @include fontSize(12);
                p {
                    &:nth-child(2) {
                        color: $navy-040;
                    }
                }
            }
            .effective-date {
                margin-top: 4px;
                @include flex-center();
                .date {
                    color: $navy-040;
                    @include fontSize(14);
                }
                .date + * {
                    margin-left: 4px;
                }
            }
            &.expired {
                border: 0;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: $border-radius;
                    border: 1px solid #989b9d;
                    background-color: rgba($color: #40535e, $alpha: 0.4);
                    z-index: 10;
                }
            }
        }
        &.type-2 {
            .coupon-item {
                display: block;
                .effective-date + .btn {
                    position: absolute;
                    right: 24px;
                    top: calc(50% - 12px);
                }
            }
        }
    }
    .event-detail {
        .title-area {
            padding-bottom: 20px;
            .title {
                color: $black-100;
                @include fontSize(20);
                @include ell($line: 2);
            }
            .effective-date {
                margin-top: 12px;
                color: $navy-040;
            }
        }
        .cont-area {
            padding: 20px 0;
            overflow: hidden;
        }
        .dummy-content {
            height: 450px;
            border-radius: $border-radius;
            background-color: $navy-020;
        }
        .comment {
            .comment-head {
                margin-bottom: 10px;
                @include fontSize(12, 700);
                .count {
                    color: $green-060;
                }
            }
        }

        .comment-write {
            margin-bottom: 30px;
            .row {
                gap: 10px;
                @include flex-center;
                > * {
                    flex: 1;
                }
                .btn {
                    width: 80px;
                    flex: 0 0 auto;
                }
            }
        }
        textarea {
            height: 60px;
            padding: 10px;
            border: 1px solid #d9dddf;
            border-radius: $border-radius;
            resize: none;
            overflow: auto;
            &::placeholder {
                color: $navy-020;
            }
        }
    }
    .logo-img {
        height: 80px;
        margin: 18px 0;
        justify-content: center;
        @include flex-center();
    }
}

.coupon {
    .section-title {
        > div {
            @include flex-center;
        }
        .left {
            h3 {
                color: $navy-040;
                @include fontSize(16, 500);
            }
            * + * {
                margin-left: 4px;
            }
        }
        .btn-link {
            @include fontSize(14);
        }
        @include flex-center;
    }
}
.comment-item {
    + .comment-item {
        &::before {
            content: " ";
            display: block;
            height: 7px;
            border-top: 1px solid $gray-020;
            background-color: $gray-010;
            margin: 0 -20px;
        }
    }
}
.comment-info {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray-020;
    .left {
        @include fontSize(12, 500);
        .date {
            color: $navy-040;
            margin-left: 20px;
        }
    }
}
.comment-text {
    padding-bottom: 20px;
    color: $navy-070;
    @include fontSize(14, 500);
}

// 임시
.layer-wrap.history {
    display: flex;
    flex-direction: column;
    flex: 1;
    .layer-body {
        padding: 26px 20px;
        .title {
            margin-bottom: 10px;
        }
        .pdf-viewer {
            width: 100%;
            height: calc(100% - 40px);
            background-color: $navy-020;
            border-radius: $border-radius;
            overflow: auto;
        }
    }
    .layer-footer {
        .btn {
            border-radius: 0;
        }
        .btn-group {
            .ico + .text {
                margin-left: 10px;
            }
        }
    }
}

.mall-list {
    margin-top: 20px;
    .item {
        > a {
            display: flex;
            align-items: center;
            height: 96px;
            padding: 0 24px;
            border: 1px solid $navy-020;
            border-radius: $border-radius;
        }
        .text {
            margin-left: 10px;
            @include fontSize(18, 700);
        }
        .btn {
            margin-left: auto;
        }
    }
    .item + .item {
        margin-top: 20px;
    }
}

.certi {
    .ci-img {
        text-align: center;
        margin: 24px 0 30px;
    }

    .ip-group + .list {
        margin-top: 19px;
    }
}
