@charset "UTF-8";

$btn-success:        #6610f2 !default;
$btn-info:           #0dcaf0 !default;
$btn-warning:        #ffc107 !default;
$btn-danger:         #dc3545 !default;

// button color type
$btn-colors: (
    // "primary":   $navy-060,
    // "secondary": $btn-secondary,
	"green":	 $green-060,
    "success":   $btn-success,
    "info":      $btn-info,
    "warning":   $btn-warning,
    "danger":    $btn-danger,
) !default;

// button size
$btn-size: (
    "xs" : (
        "size" : 34px,
        "font-size" : $font-sm2
    ),
    "sm" : (
        "size" : 40px,
        "font-size" : 14px
    ),
	"md" : (
		"size" : 48px,
        "font-size" : $font-md
	),
    "lg" : (
        "size" : 60px,
        "font-size" : $font-md
    ),
    "xl" : (
        "size" : 74px,
        "font-size" : $font-md
	)
) !default;

/* button */
.btn {
    // display:inline-flex;
	&:first-child{
		margin-top:0 !important;
	}
    display: flex;
	flex:1;
    justify-content:center;
    align-items:center;
    height: map-get($btn-size,"xs","size");
    padding:0 13px;
    border:1px solid $navy-060;
    background-color:$navy-060;
    color:$gray-000;
    font-size: map-get($btn-size,"xs","font-size");
    font-weight:400;

    .ico + .text{
        margin-left: 8px;
    }

	@include border-radius(10px);
    // -webkit-transition: all 1s cubic-bezier(.17, .07, .32, .76);
    // -moz-transition: all 1s cubic-bezier(.17, .07, .32, .76);

    @include btnDrt();

	&.full{
		width:100%
	}

    &.line {
        border-color:$navy-020;
        background-color:$gray-000;
        color:$navy-040;
    }

	&.cancel{
		// 변수순서: border-color, background-color, font-color
		@include buttonType ($navy-020, $gray-000, $navy-030);
	}

	&.link{
		// 변수순서: border-color, background-color, font-color
		@include buttonType ($gray-000, $gray-000, $navy-040);
		text-decoration:underline;
	}

	&.check{
		&:before{
			display:inline-flex;
			width:10px;
			height:13px;
			margin-right:7px;
			content:"";
			background:url(#{$url-common}icon_btn_check.svg) no-repeat;
			background-size:100% 100%;
		}
		&.active{
			color:$gray-000;
			border-color:$green-060;
			background-color:$green-060
		}
	}

    &.icon{
        height: initial;
    }

    @each $value, $color in $btn-colors {
        &.#{$value} {
            // 변수순서: border-color, background-color, font-color
            @include buttonType ($color, $color, $gray-000);
            &.line {
                // 변수순서: border-color, background-color, font-color
                @include buttonType ($color, $gray-000, $navy-040);
            }
        }
    }

    // button disabled
    &.disabled,
    &:disabled {
        border-color:$navy-020;
        background-color:$navy-020;
        color:$gray-000;
        cursor: default;
    }

    // button group
    &-group, &-left, &-center, &-right {
        display:flex;
        align-items:center;
        .btn + .btn {
            margin-left:10px;

        }
    }
    &-group {
        justify-content:space-between;

		.btn{
			display:flex;
			justify-items: center;
			align-items: center;

			&.full{
				margin:0 -20px;
				border-radius:0;
			}
		}

        &.column{
            justify-content:space-between;
            flex-direction: column;
            
            .btn{
				display:flex;
                width:100%;
				flex-basis: map-get($btn-size,"xs","size");
                margin:16px 0 0;

                @include btnDrt('col');
            }
        }

		&.single{
			display:block;
			text-align:right;
			.btn{
				display:inline-flex;
			}
		}

		&.center{
			justify-content:center;
			.btn{
				flex:0 0 auto;
			}
		}
    }
    &-left {
        justify-content:flex-start;
    }
    &-center {
        justify-content:center;
    }
    &-right {
        justify-content:flex-end;
    }
}

.btn-link{
	@include fontSize(14);
	color:$navy-040;

	.ico{
		vertical-align:-1px;
	}
}