@charset "UTF-8";

$btn-color-default:  #fff !default;
$btn-color-disabled: #333 !default;
$btn-border-default: #000 !default;
$btn-bg-default:     #000 !default;
$btn-bg-disabled:    #CFD4D7 !default;

$btn-primary:        $green-060 !default;
$btn-secondary:      $navy-060 !default;
$btn-success:        #6610f2 !default;
$btn-info:           #0dcaf0 !default;
$btn-warning:        #ffc107 !default;
$btn-danger:         #dc3545 !default;

// button color type
$btn-colors: (
    "primary":   $gray-dark,
    "secondary": $btn-secondary,
    "success":   $btn-success,
    "info":      $btn-info,
    "warning":   $btn-warning,
    "danger":    $btn-danger,
) !default;

// button size
$btn-size: (
    "xs" : (
        "size" : 32px,
        "font-size" : $font-sm2
    ),
    "sm" : (
        "size" : 35px,
        "font-size" : 14px
    ),
    "lg" : (
        "size" : 48px,
        "font-size" : 16px
    ),
    "xl" : (
        "size" : 74px,
        "font-size" : $font-md
    )
) !default;

/* button */
.btn {
    // display:inline-flex;
	&:first-child{
		margin-top:0 !important;
	}
    display: flex;
	flex:1;
    justify-content:center;
    align-items:center;
    height: map-get($btn-size,"xs","size");
    padding:0 20px;
    border:1px solid $btn-border-default;
    background-color:$btn-bg-default;
    color:$btn-color-default;
    font-size: map-get($btn-size,"xs","font-size");
    font-weight:400;

	@include border-radius(10px);
    // -webkit-transition: all 1s cubic-bezier(.17, .07, .32, .76);
    // -moz-transition: all 1s cubic-bezier(.17, .07, .32, .76);

    @include btnDrt();

    &.line {
        border-color:$btn-border-default;
        background-color:#fff;
        color:#000;
    }

    @each $value, $color in $btn-colors {
        &.#{$value} {
            // 변수순서: border-color, background-color, font-color
            @include buttonType ($color, $color, $btn-color-default);
            &.line {
                // 변수순서: border-color, background-color, font-color
                @include buttonType ($color,#fff, #000);
            }
        }
    }

    // button disabled
    &.disabled,
    &:disabled {
        border-color:$btn-bg-disabled;
        background-color:$btn-bg-disabled;
        color:$btn-color-disabled;
        cursor: default;
    }

    // button group
    &-group, &-left, &-center, &-right {
        display:flex;
        align-items:center;
        .btn + .btn {
            margin-left:10px;

        }
    }
    &-group {
        justify-content:space-between;

		.btn{
			display:flex;
			justify-items: center;
			align-items: center;
		}

        &.column{
            justify-content:space-between;
            flex-direction: column;
            
            .btn{
				display:flex;
                width:100%;
				flex-basis: map-get($btn-size,"xs","size");
                margin:5px 0 0;

                @include btnDrt('col');
            }
        }

		&.single{
			display:block;
			text-align:center;
			.btn{
				display:inline-flex;
			}
		}
    }
    &-left {
        justify-content:flex-start;
    }
    &-center {
        justify-content:center;
    }
    &-right {
        justify-content:flex-end;
    }
}