@charset "UTF-8";

/* checkbox */
.gc-checkbox {
	@include form(checkbox);

	input{
		& + span{
			&:before{
				background-size:100%;
				background-image: url(#{$url-common}check_round_off.svg);
			}
		}
		&:checked {
			& + span {
				&:before {
					background-image: url(#{$url-common}check_round_on.svg);
				}
			}
		}
	}
}