@charset "UTF-8";

// tmp
@import "_libs/_customer01";

.text-green {
    color: $green-060 !important;
}

.customer {
    position: relative;
    z-index: 1;
    .intro-text {
        margin: 32px 0 8px;
        @include fontSize(20,500);
        span {
            font-weight: 400;
        }
    }
    section {
        padding-bottom: 24px;
        position: relative;
        h3 {
            margin-bottom: 16px;
            color: $navy-070;
            @include fontSize(18,500);
        }
        h4 {
            margin: 24px 0 16px;
            color: $navy-070;
            @include fontSize(16,500);
            @include flex-center;
            .ico {
                margin-right: 6px;
            }
        }
        h4 ~ p,
        h4 ~ ol {
            color: $navy-040;
            @include fontSize(14);
        }
        em {
            font-weight: bold;
        }
    }

    .ip-group {
        .input-desc {
            margin-top: 16px;
            p {
                color: $navy-040;
                @include fontSize(14);
                + p {
                    margin-top: 8px;
                }
            }
        }
    }
}

.qna-list {
    &.type-1 {
        padding-top: 12px;
        li {
            a {
                padding: 8px 0;
                @include flex-center;
                .text {
                    @include fontSize(16,500);
                }
                .btn {
                    margin-left: auto;
                }
            }
            &:first-child {
                a {
                    padding-top: 0;
                }
            }
        }
    }
    &.type-2 {
        margin-top: 16px;
        li {
            border: 1px solid $navy-020;
            border-radius: $border-radius;
            a {
                padding: 16px;
                @include flex-center;
                .text {
                    @include fontSize(16,500);
                }
                .btn {
                    margin-left: auto;
                }
            }
        }
        li + li {
            margin-top: 8px;
        }
    }
    &.type-3 {
        li {
            a {
                padding: 16px 0;
                @include flex-center;
                .text {
                    width: calc(100% - 48px);
                    @include fontSize(16,500);
                }
                .btn {
                    margin-left: auto;
                }
            }
            &:first-child {
                a {
                    padding-top: 0;
                }
            }
        }
        li + li {
            border-top: 1px solid $navy-020;
        }
        &.narrow {
            li {
                a {
                    padding: 8px 0;
                }
            }
        }
    }
    .qna-list-head {
        margin-bottom: 24px;
        @include fontSize(16,500);
    }
}

.qna-detail {
    p + p,
    li + li {
        margin-top: 16px;
    }
    ol + p {
        margin-top: 8px;
    }
}

.btn-more-view {
    .text {
        color: $navy-040;
    }
}

.join-withdraw {
    .gc-tab-type02 {
        margin: 24px 0;
    }
    .ip-group + .btn-group {
        margin-top: 16px;
    }
}
.info-list {
    margin-top: 16px;
    .item {
        padding: 16px 0;
        @include flex-center;
        .img {
            img {
                width: 56px;
                height: 56px;
            }
        }

        .text {
            margin-left: 16px;
            strong {
                @include fontSize(16,500);
            }
            p {
                margin-top: 8px;
                color: $navy-040;
                @include fontSize(14);
            }
            p + p {
                margin-top: 4px;
            }
        }
    }
}
.join-step {
    margin-top: 20px;
    .item {
        padding: 2px;
        border: 1px solid $navy-020;
        border-radius: 2rem;
        .num {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: $gray-000;
            @include fontSize(16);
            background-color: $green-060;
            justify-content: center;
            @include flex-center;
        }
        .text {
            margin-left: 8px;
            @include fontSize(16,500);
        }
        @include flex-center;
    }
    .arrow {
        width: 24px;
        height: 24px;
        background-image: url(#{$url-ico}icon_step_arrow.svg);
        margin: 0 auto;
    }
    li + li {
        margin-top: 4px !important;
    }
}
.img-biz {
    border: 1px solid $navy-020;
    border-radius: $border-radius;
    background-color: #ddd;
    margin-top: 16px;
}
.quick-menu {
    display: flex;
    gap: 16px;
    .item {
        flex: 1;
        height: 120px;
        padding-top: 16px;
        border: 1px solid $navy-020;
        border-radius: $border-radius;
        text-align: center;
        .img {
            img {
                width: 56px;
                height: 56px;
            }
        }
        .text {
            margin-top: 8px;
            color: $navy-070;
            @include fontSize(14,500);
        }
    }
    &:last-child {
        .text {
            margin-top: 2px;
        }
    }
}

.sel-pay-method {
    input[type="radio"] + span {
        @include fontSize(16,500);
    }
    .gc-radio {
        color: $navy-070;
        + .desc {
            margin: 4px 0 0 28px;
            color: $navy-040;
            @include fontSize(14);
        }
    }
    .item + .item {
        margin-top: 16px;
    }
}
.agree-group {
    .gc-radio {
        span {
            @include fontSize(20,500);
        }
    }
}
.gc-cs {
    margin-bottom: 24px;
    @include flex-center;
    dt {
        color: $navy-070;
        @include fontSize(18,500);
    }
    dd {
        margin-left: 16px;
        color: $green-060;
        @include fontSize(16,500);
    }
}
.float-btn {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 140px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: $gray-000;
    @include flex-center;
    justify-content: center;
    z-index: 20;
    &::before {
        content: "";
        display: block;
        background-image: url(#{$url-ico}icon_chat.svg);
        width: 32px;
        height: 32px;
    }
}

.ip-textarea {
    textarea {
        width: 100%;
        border: 1px solid $navy-020;
        border-radius: $border-radius;
        padding: 8px;
        &::placeholder {
            color: $navy-040;
            @include fontSize(14);
        }
        &:focus {
            outline: none;
        }
    }
}

.gc-select {
    &.full {
        select {
            width: 100%;
            @include fontSize(16);
            &:focus {
                outline: none;
            }
            background-image: url(#{$url-ico}icon_list_open_arrow.svg);
        }
        &::after {
            content: " ";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $navy-020;
            margin-top: 16px;
        }
    }
}

.search-wrap {
    .row {
        @include flex-center;
        .ico + input[type="text"] {
            margin-left: 8px;
        }
        input[type="text"] {
            @include fontSize(18);
        }
    }
}
.tip-wrap {
    .badge {
        margin-bottom: 8px;
    }
    p {
        color: $navy-040;
        @include fontSize(16);
    }
}
// 테이블
.tb-wrap {
    &.type-2 {
        th {
            padding: 4px !important;
            &.divide {
                border-bottom: 1px solid $navy-020;
            }
        }
        th,
        td {
            text-align: center;
            vertical-align: middle;
        }
        tr {
            td {
                border-left: 0;
                border-right: 0;
            }
        }
        tbody {
            &.align-mix {
                td {
                    &:nth-child(2) {
                        text-align: left;
                    }
                }
            }
        }
    }
    &.type-3 {
        th > em {
            color: $red-060;
        }
        th,
        td {
            text-align: center;
            vertical-align: middle;
        }
        tbody {
            td {
                border: 0;
            }
            tr {
                &.divide {
                    border-bottom: 1px solid $navy-020;
                }
            }
        }
    }
}

// 라디오 셀렉트 리스트
.radio-select-list {
    li {
        padding: 16px 0;
        input[type="radio"] + span {
            @include fontSize(18,400);
        }
    }
}

// 유형선택
.type-select {
    .item {
        padding-bottom: 16px;
        @include flex-center;
        .text {
            @include fontSize(16);
        }
        .ico {
            margin-left: auto;
        }
    }
    &::after {
        content: " ";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $navy-020;
    }
}
// 예약정보 내역
.reservation-info {
    .item {
        padding: 16px 0;
        strong {
            display: block;
            margin: 8px 0;
            @include fontSize(16,500);
        }
        .history-list {
            li {
                color: $navy-040;
            }
            li + li {
                margin-top: 4px;
            }
        }
    }
    .item + .item {
        border-top: 1px solid $navy-020;
    }
}

// 면허발급(기관)지역선택
.select-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    .btn {
        flex: 0 0 auto;
        color: $navy-070;
        border-radius: $border-radius-50;

        &.active {
            color: $gray-000;
            border-color: $green-060;
            background-color: $green-060;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

// 파일첨부
.file-attach {
    position: relative;
    .file-wrap {
        display: flex;
        justify-content: space-between;
        .item {
            width: 72px;
            list-style: none;
            &.attached {
                .btn {
                    position: absolute;
                    top: 12px;
                    right: 4px;
                }
                &::after {
                    display: none;
                }
            }
            .item-preview {
                width: 72px;
                height: 72px;
                border: 1px solid $navy-020;
                border-radius: $border-radius;
                justify-content: center;
                @include flex-center;
                position: relative;
                overflow: hidden;
                &::after {
                    content: " ";
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-image: url(#{$url-ico}icon_camera_gray.svg);
                }
            }
            .item-info {
                margin-top: 8px;
                color: $navy-040;
                text-align: center;
                @include fontSize(12);
            }
        }
        .item-counter {
            position: absolute;
            top: 0px;
            right: 0;
            color: $navy-040;
            @include fontSize(16);
        }
    }
    .desc {
        color: $navy-040;
        margin-top: 8px;
        @include fontSize(16);
    }
}

// 모바일 문의
.inquiry-list {
    .item {
        padding: 16px 0;
        .date {
            color: $navy-070;
            @include fontSize(14);
        }
        .title {
            margin-top: 8px;
            @include flex-center;
            > div {
                @include flex-center;
            }
            .left {
                gap: 8px;
                strong {
                    @include fontSize(16, 500);
                }
            }
        }
        .content {
            p {
                color: $navy-040;
                margin-top: 4px;
                @include ell;
            }
        }
    }
    .item + .item {
        border-top: 1px solid $navy-020;
    }
}
