@charset "UTF-8";

// tmp
@import "_libs/_customer01";

.text-green {
    color: $green-060 !important;
}

.customer {
    position: relative;
    z-index: 1;
    .intro-text {
        margin: 32px 0 8px;
        @include fontSize(20, 500);
        span {
            font-weight: 400;
        }
    }
    section {
        padding-bottom: 24px;
        position: relative;
        h3 {
            margin-bottom: 16px;
            color: $navy-070;
            @include fontSize(20, 500);
        }
        h4 {
            margin: 24px 0 16px;
            color: $navy-070;
            @include fontSize(16, 500);
            @include flex-center;
            .ico {
                margin-right: 6px;
            }
        }
        h4 ~ p,
        h4 ~ ol {
            color: $navy-040;
            @include fontSize(14);
        }
        em {
            font-weight: bold;
        }
    }

    .ip-group {
        .input-desc {
            margin-top: 16px;
            p {
                color: $navy-040;
                @include fontSize(14);
                + p {
                    margin-top: 8px;
                }
            }
        }
    }
}

.qna-list {
    &.type-1 {
        padding-top: 12px;
        li {
            a {
                padding: 8px 0;
                @include flex-center;
                .text {
                    @include fontSize(16, 500);
                }
                .btn {
                    margin-left: auto;
                }
            }
            &:first-child {
                a {
                    padding-top: 0;
                }
            }
        }
    }
    &.type-2 {
        margin-top: 16px;
        li {
            border: 1px solid $navy-020;
            border-radius: $border-radius;
            a {
                padding: 16px;
                @include flex-center;
                .text {
                    @include fontSize(16, 500);
                }
                .btn {
                    margin-left: auto;
                }
            }
        }
        li + li {
            margin-top: 8px;
        }
    }
    &.type-3 {
        li {
            a {
                padding: 16px 0;
                @include flex-center;
                .text {
                    width: calc(100% - 48px);
                    @include fontSize(16, 500);
                }
                .btn {
                    margin-left: auto;
                }
            }
            &:first-child {
                a {
                    padding-top: 0;
                }
            }
        }
        li + li {
            border-top: 1px solid $navy-020;
        }
        &.narrow {
            li {
                a {
                    padding: 8px 0;
                }
            }
        }
    }
    .qna-list-head {
        margin-bottom: 24px;
        @include fontSize(16, 500);
    }
}

.qna-detail {
    p + p,
    li + li {
        margin-top: 16px;
    }
    ol + p {
        margin-top: 8px;
    }
}

.btn-more-view {
    .text {
        color: $navy-040;
    }
}

.join-withdraw {
    .gc-tab-type02 {
        margin: 24px 0;
    }
    .ip-group + .btn-group {
        margin-top: 16px;
    }
}
.info-list {
    margin-top: 16px;
    .item {
        padding: 16px 0;
        @include flex-center;
        .img {
            flex: 0 0 auto;
            width: 56px;
            height: 56px;
        }

        .text {
            margin-left: 16px;
            strong {
                @include fontSize(16, 500);
            }
            p {
                margin-top: 8px;
                color: $navy-040;
                @include fontSize(14);
            }
            p + p {
                margin-top: 4px;
            }
        }
    }
}
.join-step {
    margin-top: 20px;
    .item {
        padding: 2px;
        border: 1px solid $navy-020;
        border-radius: 2rem;
        .num {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: $gray-000;
            @include fontSize(16);
            background-color: $green-060;
            justify-content: center;
            @include flex-center;
        }
        .text {
            margin-left: 8px;
            @include fontSize(16, 500);
        }
        @include flex-center;
    }
    .arrow {
        width: 24px;
        height: 24px;
        background-image: url(#{$url-ico}icon_step_arrow.svg);
        margin: 0 auto;
    }
    li + li {
        margin-top: 4px !important;
    }
}
.img-biz {
    border: 1px solid $navy-020;
    border-radius: $border-radius;
    background-color: #ddd;
    margin-top: 16px;
}
.quick-menu {
    display: flex;
    gap: 16px;
    .item {
        flex: 1;
        height: 120px;
        padding-top: 16px;
        border: 1px solid $navy-020;
        border-radius: $border-radius;
        text-align: center;
        .img {
            height: 56px;
        }
        .text {
            margin-top: 8px;
            color: $navy-070;
            @include fontSize(14, 500);
            line-height: 18px;
        }
    }
    &:last-child {
        .text {
            margin-top: 2px;
        }
    }
}

.sel-pay-method {
    input[type="radio"] + span {
        @include fontSize(16, 500);
    }
    .gc-radio {
        color: $navy-070;
        + .desc {
            margin: 4px 0 0 28px;
            color: $navy-040;
            @include fontSize(14);
        }
    }
    .item + .item {
        margin-top: 16px;
    }
}
.agree-group {
    .gc-radio {
        span {
            @include fontSize(20, 500);
        }
    }
}
.gc-cs {
    margin-bottom: 24px;
    @include flex-center;
    dt {
        color: $navy-070;
        @include fontSize(18, 500);
    }
    dd {
        margin-left: 16px;
        color: $green-060;
        @include fontSize(16, 500);
    }
}
.float-btn {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 132px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: $gray-000;
    @include flex-center;
    justify-content: center;
    z-index: 20;
    &::before {
        content: "";
        display: block;
        background-image: url(#{$url-ico}icon_chat.svg);
        width: 32px;
        height: 32px;
    }
}

.ip-textarea {
    width: 100%;
    border: 1px solid $navy-020;
    padding: 16px 8px;
    textarea {
        width: 100%;
        @include fontSize(16);
        resize: none;
        &::placeholder {
            color: $navy-040;
            @include fontSize(16);
        }
        &:focus {
            outline: none;
        }
    }
    .length-count {
        border-top: 1px solid $gray-020;
        padding-top: 8px;
        text-align: right;
        span {
            color: $navy-040;
            @include fontSize(16);
        }
    }
}

.ip-box-input {
    border: 1px solid $gray-020;
    padding: 0 8px;
    dl {
        @include flex-center;
        dt {
            flex: 0 0 auto;
            margin-right: 8px;
            color: $navy-040;
            @include fontSize(16);
        }
        dd {
            flex: 1;
            input[type="text"] {
                width: 100%;
            }
        }
    }
}
.example-area {
    em {
        color: $navy-040;
        @include fontSize(14);
    }
    .img {
        margin-top: 6px;
        text-align: center;
    }
}
.gc-select {
    &.full {
        select {
            width: 100%;
            @include fontSize(16);
            &:focus {
                outline: none;
            }
            background-image: url(#{$url-ico}icon_list_open_arrow.svg);
        }
        &::after {
            content: " ";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $navy-020;
            margin-top: 16px;
        }
    }
}

.search-wrap {
    .row {
        @include flex-center;
        .ico + input[type="text"] {
            margin-left: 8px;
        }
        input[type="text"] {
            @include fontSize(18);
        }
    }
}
.tip-wrap {
    .badge {
        margin-bottom: 8px;
    }
    p {
        color: $navy-040;
        @include fontSize(16);
    }
}
// 테이블
.tb-wrap {
    &.type-2 {
        th {
            padding: 4px !important;
            &.divide {
                border-bottom: 1px solid $navy-020;
            }
        }
        th,
        td {
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
        }
        tr {
            td {
                border-left: 0;
                border-right: 0;
            }
        }
        tbody {
            &.align-mix {
                td {
                    &:nth-child(2) {
                        text-align: left;
                    }
                }
            }
        }
    }
    &.type-3 {
        th > em {
            color: $red-060;
        }
        th,
        td {
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
        }
        tbody {
            td {
                border: 0;
            }
            tr {
                &.divide {
                    border-bottom: 1px solid $navy-020;
                }
            }
        }
    }
}

// 셀렉트 리스트
.select-list {
    margin-top: -24px;
    li {
        padding: 16px 0;
        span {
            color: $navy-070;
            @include fontSize(18, 400);
        }
        &.active {
            span {
                color: $green-060;
            }
        }
    }
}

// 유형선택
.type-select {
    .item {
        padding-bottom: 16px;
        @include flex-center;
        .text {
            @include fontSize(16);
        }
        .ico {
            margin-left: auto;
        }
    }
    &::after {
        content: " ";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $navy-020;
    }
}
// 예약정보 내역
.reservation-info {
    .item {
        padding: 16px 0;
        strong {
            display: block;
            margin: 8px 0;
            @include fontSize(16, 500);
        }
        .history-list {
            li {
                color: $navy-040;
            }
            li + li {
                margin-top: 4px;
            }
        }
    }
    .item + .item {
        border-top: 1px solid $navy-020;
    }
}

// 면허발급(기관)지역선택
.select-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 12px;
    margin-top: 16px;
    .btn {
        width: calc((100% - 36px) / 4);
        flex: 0 0 auto;
        color: $navy-070;
        border-radius: $border-radius-50;

        &.active {
            color: $gray-000;
            border-color: $green-060;
            background-color: $green-060;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

// 파일첨부
.file-attach {
    position: relative;
    > h4 {
        margin-top: 16px !important;
    }
    .file-wrap {
        display: flex;
        justify-content: space-between;
        .item {
            width: 72px;
            list-style: none;
            &.attached {
                .btn {
                    position: absolute;
                    top: 12px;
                    right: 4px;
                }
                &::after {
                    display: none;
                }
            }
            .item-preview {
                width: 72px;
                height: 72px;
                border: 1px solid $navy-020;
                border-radius: $border-radius;
                justify-content: center;
                @include flex-center;
                position: relative;
                overflow: hidden;
                &::after {
                    content: " ";
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-image: url(#{$url-ico}icon_camera_gray.svg);
                }
            }
            .item-info {
                margin-top: 8px;
                color: $navy-040;
                text-align: center;
                @include fontSize(12);
            }
        }
        .item-counter {
            position: absolute;
            top: 0px;
            right: 0;
            color: $navy-040;
            @include fontSize(16);
        }
    }
    .desc {
        color: $navy-040;
        margin-top: 8px;
        @include fontSize(14);
    }
}

// 모바일 문의
.inquiry-step {
    display: flex;
    margin-top: 24px;
    .step {
        flex: 0 0 auto;
        flex-direction: column;
        justify-content: center;
        @include flex-center;
        .step-icon {
            width: 32px;
            height: 32px;
            overflow: hidden;
            background-color: transparent;
            border: 2px solid $navy-020;
            border-radius: 50%;
            background-position: center;
            @include flex-center;
            justify-content: center;
            span {
                color: $navy-020;
                @include fontSize(16, 700);
            }
        }
        &:first-child {
            .step-icon {
                background-color: $green-060;
                background-image: url(#{$url-ico}icon_register.svg);
                border-color: transparent;
            }
        }
        .step-icon + p {
            color: $navy-070;
            @include fontSize(12, 500);
            margin-top: 8px;
        }
        &.done {
            .step-icon {
                border-color: $green-060;
                span {
                    color: $navy-070;
                }
            }
        }
    }
    .step-line {
        flex: 1;
        height: 2px;
        margin: 14px -5px 0;
        background-color: $navy-020;
        &.done {
            background-color: $green-060;
        }
    }
}
.inquiry-list {
    .item {
        padding: 16px 0;
        .date {
            color: $navy-070;
            @include fontSize(14);
        }
        .title {
            margin-top: 8px;
            @include flex-center;
            > div {
                @include flex-center;
            }
            .left {
                gap: 8px;
                strong {
                    @include fontSize(16, 500);
                }
            }
        }
        .content {
            p {
                color: $navy-040;
                margin-top: 4px;
                @include ell;
            }
        }
    }
    .item + .item {
        border-top: 1px solid $navy-020;
    }
}

// 문의내역 상세
.inquiry-area {
    padding-top: 32px;
    .title-area {
        margin-top: 8px;
        @include flex-center;
        strong {
            @include fontSize(16, 500);
        }
    }
    .cont-area {
        margin-top: 4px;
        padding-bottom: 16px;
        @include border("b", 1);
        p {
            @include fontSize(14);
        }
    }
}
.answer-area {
    .date {
        margin-top: 16px;
        color: $navy-040;
        @include fontSize(12);
    }
}

// 사고/고장 접수 전화연결
.contact-wrap {
    p {
        @include fontSize(20, 500);
    }
}

// 권한허용
.alert-area {
    .img {
        display: flex;
        justify-content: center;
    }
    .text {
        @include fontSize(16, 500);
    }
}

// 사진 선택
.select-item {
    gap: 32px;
    justify-content: center;
    @include flex-center;
    .item {
        width: 96px;
        height: 112px;
        padding: 16px;
        text-align: center;
        border-radius: $border-radius;
        border: 1px solid $navy-020;
        .img {
            width: 48px;
            height: 48px;
            img {
                width: 32px;
                height: 32px;
            }
        }
        p {
            color: $navy-070;
            @include fontSize(14, 500);
        }
    }
}

.filter-box {
    height: 72px;
    @include flex-center;
    > div {
        @include flex-center;
    }
    .btn.icon {
        .text {
            color: $navy-070;
            @include fontSize(18, 500);
        }
    }
}

.no-data {
    margin-top: 16px;
    &.text-type {
        padding: 0;
        p {
            text-align: left;
            color: $navy-040;
            @include fontSize(14);
        }
        &:before {
            display: none;
        }
    }
    &.list {
        padding-top: 36px;
        &:before {
            content: " ";
            display: block;
            width: 72px;
            height: 72px;
            margin: 0 auto;
            background-image: url(#{$url-ico}icon_mark.svg);
            background-size: cover;
        }
        > p {
            margin-top: 16px;
            color: $navy-070;
            @include fontSize(20, 500);
        }
    }
}

.chat-area {
    margin-top: 315px;
    p {
        color: $navy-040;
        @include fontSize(14);
    }
    p + .btn {
        width: 120px;
        margin: 0 auto;
        margin-top: 16px;
    }
}

.btn-area {
    &.center {
        .btn {
            margin: 0 auto;
            .text {
                color: $navy-070;
            }
        }
    }
}
.desc-gray {
    color: $navy-040;
    @include fontSize(14);
}

.agree-terms {
    strong {
        @include fontSize(16, 500);
    }
}

.cm {
    hr.divider-thin {
        height: 1px;
        background-color: $navy-020;
        border: 0;
        margin: 24px 0;
    }
    .car-info {
        padding: 32px 0;
        position: relative;
        @include flex-center;
        .img {
            width: 100px;
            height: 100px;
        }
        .info {
            margin-left: 16px;
            strong {
                @include fontSize(18, 500);
            }
            span {
                color: $navy-040;
                @include fontSize(12);
                display: block;
            }
            .option {
                @include flex-center;
                .bar {
                    width: 1px;
                    height: 12px;
                    background-color: $navy-020;
                    margin: 0 4px;
                    border: 0;
                }
            }
        }
        .btn {
            position: absolute;
            top: calc(50% - 12px);
            right: 0;
        }
    }

    .way-to {
        margin: 0 -20px;
        .item {
            .img {
                height: 180px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }

            .desc {
                padding: 24px 16px;
                background-color: $gray-000;
                @include fontSize(16, 500);
            }
        }
    }
}

// 그린 댓글
.green-reply {
    .reply-item + .reply-item {
        &::before {
            content: " ";
            display: block;
            height: 7px;
            margin: 0 -20px;
            background-color: $gray-010;
            border-top: 1px solid $gray-020;
        }
    }

    .reply-head {
        padding: 24px 0 8px;
        border-bottom: 1px solid $navy-020;
        @include flex-center;
        > div {
            @include flex-center;
        }
        .profile {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            overflow: hidden;
            background-image: url(#{$url-ico}icon_profile.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .name {
            margin-left: 8px;
            @include fontSize(12, 500);
        }
        .date {
            display: block;
            margin-left: 16px;
            color: $navy-040;
            @include fontSize(12, 500);
        }
    }
    .reply-body {
        padding: 8px 0;
        .img {
            width: 84px;
            height: 84px;
            margin-top: 16px;
            border-radius: $border-radius;
            overflow: hidden;
        }
        .text {
            @include fontSize(14, 500);
        }
    }
    .reply-footer {
        padding-bottom: 24px;
        @include flex-center;
        > div {
            gap: 2px;
            @include flex-center;
        }
        .like {
            margin-right: 16px;
            &.on {
                .count {
                    color: $green-060;
                    font-weight: 500;
                }
            }
        }
    }
    .comment-wrap {
        .comment-item {
            position: relative;
            margin: 0 -20px;
            padding: 16px 20px;
            background-color: $gray-010;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            .comment-head {
                @include fontSize(12, 500);
                padding-bottom: 8px;
                @include flex-center;
                .profile {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-image: url(#{$url-ico}icon_profile.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                }
                .name {
                    margin-left: 8px;
                }
                .date {
                    color: $navy-040;
                    margin-left: 16px;
                }
            }
            .comment-body {
                color: $navy-070;
                @include fontSize(14, 500);
            }
        }
    }
}

// 그린존 - 주차장 정보
.parking-lot-info {
    margin: 0 -20px;
    .img {
        height: 180px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .info {
        padding: 24px 20px;
        .location {
            @include flex-center;
            .text {
                @include fontSize(16, 500);
            }
            .text + .btn {
                margin-left: 8px;
            }
        }
        .btn-group{
            justify-content: center;
            margin-top: 24px;
            .btn{
                flex: 0 0 auto;
            }
        }
    }
}
