@charset "UTF-8";

.layer-body{
	//메모
	.history-notes{
		.ip-wrap{
			margin-top:16px;
		}
	}
	//이용내역서
	.usage-statement{
		padding-bottom:54px;
		.block{
			margin-top:19px;
		}
		.tb-wrap{
			margin-top:16px;
		}
		.desc-xs{
			margin-top:8px;
			color:$navy-040;
		}
		.time{
			display:inline-block;
			&::before{
				display:inline-block;
				width:1px;
				height:10px;
				margin:0 8px;
				content:"";
				background-color:$navy-020;
			}

		}
	}
}
