@charset "UTF-8";

$icon-size: (
    "xs": (
        "width": 12px,
        "height": 12px
    ),
    "sm": (
        "width": 16px,
        "height": 16px
    ),
    "md": (
        "width": 20px,
        "height": 20px
    ),
    "lg": (
        "width": 24px,
        "height": 24px
    ),
    "xl": (
        "width": 28px,
        "height": 28px
    ),
	"xl2": (
        "width": 32px,
        "height": 32px
    ),
    "xl3": (
        "width": 40px,
        "height": 40px
    ),
	"bic": (
        "width": 48px,
        "height": 48px
    ),
    "file": (
		"search": "icon_search.svg",
        "sort": "sort.svg",
		"star": "star.svg",
        "delete": "icon_delete.svg",
        "delete-black": "icon_delete_black.svg",
        "close": "icon_close.svg", 
        "file-send": "icon_send.svg", 
        "home": "icon_home.svg",
        "back": "icon_back.svg",
        "next-sm": "icon_next_sm.svg",
        "arrow-right": "arrow-right.svg",
        "ico-check": "icon_check_off.svg",
        "arrow-right-gray000": "icon_arrow_right_gray000.svg",
        "arrow-right-nav030": "icon_arrow_right_navy030.svg",
        "arrow-right-nav040": "icon_arrow_right_navy040.svg",
        "arrow-right-nav050": "icon_arrow_right_navy050.svg",
        "arrow-right-nav060": "icon_arrow_right_navy060.svg",
        "arrow-bot-nav060": "icon_arrow_bot_navy060.svg",
        "arrow-left": "arrow-left.svg",
        "arrow-bot": "icon_arrow_bot.svg",
        "eye-on": "icon_eye_off.svg",
        "eye-off": "icon_eye_off.svg",
        "bookmark": "icon_bookmark.svg",
        "bookmark-active": "bookmark_active.svg",
        "badge-f": "icon_badge_f.svg",
        "badge-g": "icon_badge_g.svg",
        "plus": "icon_plus.svg",
        "plus-round": "icon_plus_round.svg",
        "download": "icon_download.svg",
        "download-gray000": "icon_download_gray000.svg",
        "download-uncheck": "icon_download_uncheck.svg",
        "info": "icon_alert_circle.svg",
        "info-dark": "icon_alert_circle_dark.svg",
        "file-export": "icon_file_export.svg",
        "text-delete": "icon_text_del.svg",
        "more": "icon_more.svg",
        "share": "icon_share.svg",
        "dots-v": "icon_dots_v.svg",
        "message": "icon_message.svg",
        "heart-on": "icon_heart_on.svg",
        "heart-off": "icon_heart_off.svg",
        "oil-gun": "icon_oil_gun.svg",
        "pic-delete": "icon_pic_delete.svg",
        "check-green": "icon_check_on.svg",
        "check-second": "icon_second_check.svg",
        "camera": "icon_camera.svg",
        "camera02": "icon_camera02.svg",
        "icon-tip-green060": "icon_tip_green060.svg",
        "round-trip": "icon_round_trip.svg",
        "one-way": "icon_oneway.svg",
        "dot": "icon_text_dot.svg",
    )
    
) !default;

.icon{
	display: flex;
    align-items: center;
    flex: 0 0 auto;
    background-color: transparent;
    border: 0;
    padding:0
}

.ico {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include icType();
}


