@charset "UTF-8";

$icon-size: (
    "xs": (
        "width": 12px,
        "height": 12px
    ),
    "sm": (
        "width": 16px,
        "height": 16px
    ),
    "md": (
        "width": 20px,
        "height": 20px
    ),
    "lg": (
        "width": 24px,
        "height": 24px
    ),
    "xl": (
        "width": 28px,
        "height": 28px
    ),
	"xl2": (
        "width": 32px,
        "height": 32px
    ),
    "file": (
        "delete": "delete.svg",
        "close": "close.svg", 
        "home": "home.svg",
        "back": "back.svg",
        "next-sm": "next_sm.svg",
        "arrow-right": "arrow-right.svg",
        "arrow-left": "arrow-left.svg",
        "star": "star.svg",
        "eye-on": "eye_on.svg",
        "eye-off": "eye_off.svg",
        "bookmark": "bookmark.svg",
        "bookmark-active": "bookmark_active.svg",
        "search": "search.svg",
        "sort": "sort.svg",
        "badge-g": "badge-g.svg",
    )
    
) !default;

.icon{
	display: flex;
    align-items: center;
    flex: 0 0 auto;
    background-color: transparent;
    border: 0;
    padding:0
}

.ico {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include icType();
}


