@charset "UTF-8";

$icon-size: (
    "xs": (
        "width": 12px,
        "height": 12px
    ),
    "sm": (
        "width": 16px,
        "height": 16px
    ),
    "md": (
        "width": 20px,
        "height": 20px
    ),
    "lg": (
        "width": 24px,
        "height": 24px
    ),
    "xl": (
        "width": 28px,
        "height": 28px
    ),
	"xl2": (
        "width": 32px,
        "height": 32px
    ),
    "file": (
		"search": "search.svg",
        "sort": "sort.svg",
		"star": "star.svg",
        "delete": "ico_delete.svg",
        "close": "ico_close.svg", 
        "home": "ico_home.svg",
        "back": "ico_back.svg",
        "next-sm": "ico_next_sm.svg",
        "arrow-right": "arrow-right.svg",
        "ico-check": "ico_check_off.svg",
        "arrow-right-nav050": "ico_arrow_right_navy050.svg",
        "arrow-left": "arrow-left.svg",
        "arrow-bot": "ico_arrow_bot.svg",
        "eye-on": "ico_eye_on.svg",
        "eye-off": "ico_eye_off.svg",
        "bookmark": "ico_bookmark.svg",
        "bookmark-active": "bookmark_active.svg",
        "badge-g": "ico_badge_g.svg",
        "plus": "ico_plus.svg",
        "download": "ico_download.svg",
        "info": "ico_alert_circle.svg",
    )
    
) !default;

.icon{
	display: flex;
    align-items: center;
    flex: 0 0 auto;
    background-color: transparent;
    border: 0;
    padding:0
}

.ico {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include icType();
}


