@charset "UTF-8";

$input-height: 40px;
$line-color: #878787 !default;
$line-color-active: #5CD79A !default;
$validation-error: #D7535C !default;
$line-color-disabled: #989898 !default;
$animation: all .2s ease;
 
.ip-group {
	margin-top:24px;
	&:first-child,&.first{
		margin-top:0;
	}

	&.unit{
		position:relative;
		margin-top:24px;
		padding-right:100px;
		&:first-child{
			margin-top:0
		}
		.ip-txt{
			height:48px; 
		}
		.btn{
			position:absolute;
			top:0;
			right:0;
			width:92px;
			padding:0 !important;
		}
	}

	.row{
		position:relative;
		z-index: 5;
	}
	
	.ip-txt{
		width:100%;
		height:48px;
		font-weight:500;
		background:transparent;
		outline:none;
	}
	
	@include ipLine();

	.ip-label{
		display:inline-block;
		font-size: $font-sm;
		font-weight:500;
		line-height:1;
	}

	.icon-group{
		display:flex;
		position:absolute;
		bottom:10px;
		right:0;

		.ip-icon{
			margin-left:10px;
		}		
	}
	.error-txt{
		display:none
	}

	/* error */
	.row.error{
		& + .error-txt{
			display:block;
			margin-top:5px;
			font-size: $font-sm;
			color: $validation-error;
			line-height:17px;
		}
	}
}
/* input */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
	height:$input-height;
	padding:0 15px 0 0;
	color:$navy-070;

	@include ell;
	
	&::-ms-clear {
		display:none;
	}
	&::placeholder {
		font-size:$font-md;
		color:$navy-020;
		font-weight:500;
	}
	&[readonly],
	&:disabled {
		color:#6c757d;
		background-color:#dee2e6;
	}
	&:read-only {
		color:#6c757d;
		background-color:#dee2e6;
	}
}

.photo-add{
	display:flex;
	align-items:center;
	width:100%;
	height:100%;
	text-align:center;
	background:$navy-060;
	.module{
		flex:1;
	}
	.label{
		font-size:$font-sm2;
		color:$gray-000;
	}
	.desc-xs{
		color:$navy-040;
	}

	input[type="file"]{
		appearance:none;
	}
}