@charset "UTF-8";

$input-height: 40px;
$line-color: #ECEEEF !default;
$line-color-active: #5CD79A !default;
$validation-error: #FF384F !default;
$line-color-disabled: #989898 !default;
$animation: all .2s ease;

.ip-group {
	position:relative;
	
	.ip-txt{
		width:100%;
		background:transparent;
		outline:none;
	}
	
	@include ipLine();
}
/* input */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
	height:$input-height;
	padding:0 15px;
	color:#000;

	@include ell;
	
	&::-ms-clear {
		display:none;
	}
	&::placeholder {
		color:#6c757d;
	}
	&[readonly],
	&:disabled {
		color:#6c757d;
		background-color:#dee2e6;
	}
	&:read-only {
		color:#6c757d;
		background-color:#dee2e6;
	}
}
