@charset "UTF-8";

// hide Text && bg icon
@mixin hideTxt($bgImgW:null, $bgImgH:null) {
	@if $bgImgW {
		background-size:$bgImgW $bgImgH;
		background-position:center center;
		background-repeat:no-repeat;
	}
	overflow:hidden;
	color:transparent;
	font-size:1px;
	text-indent:-9999px;
}
// slide Down && slide Up ( accodion )
@mixin acdo($mh, $mt, $ts, $tcb) {
	visibility:if($mt < 0, hidden, visible);
	max-height:$mh;
	margin-top:$mt;
	transition:all $ts $tcb;
}

// 텍스트 말줄임
@mixin ell($line:1) {
	overflow:hidden;
	text-overflow:ellipsis;
	@if $line > 1 {
		display:-webkit-box;
		-webkit-line-clamp:$line;
		-webkit-box-orient:vertical;
	}@else{
		white-space:nowrap;
	}
}

// icon
@mixin ic($ws, $hs ,$path:null){
    display:inline-block;
    width:$ws;
    height:$hs;
    @if not($path == null or $path == ''){
        $icon-path : $url-ico + $path;
        background-image:url($icon-path);
    }
    background-size:100% 100%;
}

@mixin icType(){
    @each $key, $value in $icon-size {
        &.#{$key}{
            width: map-get($value, "width");
            height: map-get($value, "height");
        }
    }

    @each $key, $file in map-get($icon-size, "file") {
        &.#{$key} {
            background-image: url(../images/icon/#{$file});
        }
    }
}

// button
@mixin buttonType( $border-color, $background-color, $font-color ){
	border-color:$border-color;
	background-color:$background-color;
	color:$font-color;
}

@mixin btnDrt($direction:null){
    @each $key, $value in $btn-size{
        @if ($direction == 'col'){
            &.#{$key}{
                flex-basis: map-get($value, "size");
                font-size: map-get($value, "font-size");
            }
        } @else {
            &.#{$key}{
                height: map-get($value, "size");
                font-size: map-get($value, "font-size");
            }
        }
    }
}

// checkbook && radio
@mixin form(
	$type,
	$before-shadow: if($type == checkbox, 0, 3px),
	$border-radius: if($type == checkbox, 3px, 50%)
) {
	// size
	$checkradio-size:              22px !default;
	// checked border color
	$checkradio-border-primary:  #0d6efd  !default;
	// shadow default color
	$checkradio-shadow-default:  #fff  !default;
	// checked shadow color
	$checkradio-shadow-primary:    $checkradio-border-primary  !default;
	// disabled shadow color
	$checkradio-shadow-disabled: #dee2e6  !default;
	display:inline-block;
	vertical-align:top;
	input {
		position:absolute;
		width:1px;
		height:1px;
		padding:0;
		margin:-1px;
		overflow:hidden;
		clip:rect(0,0,0,0);
		border:0;
		&:checked {
			& + span {
				&:before {
					border-color:$checkradio-border-primary;
					box-shadow:
						0 0 0 calc($checkradio-size / 2) transparent,
						inset 0 0 0 $before-shadow $checkradio-shadow-default,
						inset 0 0 0 $checkradio-size $checkradio-shadow-primary;
				}
				@if $type == checkbox {
					&:after {
						content:"";
						position:absolute;
						top:0;
						left:0;
						border-right:calc($checkradio-size / 7) solid transparent;
						border-bottom:calc($checkradio-size / 7) solid transparent;
						transform-origin:100% 100%;
						width:calc($checkradio-size / 5);
						height:calc($checkradio-size / 2);
						border-color:#fff;
						transform:translate3d(calc($checkradio-size / 20), calc($checkradio-size / 8), 0) rotate(45deg);
					}
				}
			}
			&:disabled + span {
				&:before {
					box-shadow:
						inset 0 0 0 $before-shadow $checkradio-shadow-disabled,
						inset 0 0 0 $checkradio-size #adb5bd;
				}
			}
		}
		&:disabled + span {
			color:#adb5bd;
			&:before {
				border-color:#adb5bd;
				box-shadow:inset 0 0 0 $checkradio-size $checkradio-shadow-disabled;
			}
		}
	}
	span {
		position:relative;
		display:inline-flex;
		align-items:center;
		color:#000;
		font-size:15px;
		vertical-align:top;
		&:before {
			content:'';
			width:$checkradio-size;
			height:$checkradio-size;
			margin-right:5px;
			border:1px solid #6c757d;
			border-radius:$border-radius;
			box-shadow:
				0 0 0 -2px $checkradio-shadow-primary,
				inset 0 0 0 $checkradio-size $checkradio-shadow-default,
				inset 0 0 0 calc($checkradio-size / 2) $checkradio-shadow-primary;
			transition:all .3s;
			box-sizing:border-box;
		}
	}
	&.no-label {
		span {
			font-size:0;
			line-height:0;
			&:before {
				margin: 0;
			}
		}
	}
}

// theme light or theme dark
@mixin gc-theme($name) {
	// [data-theme="#{$name}"] {
	@media (prefers-color-scheme: #{$name}) {
		@content;
	}
}

// Rounded corners
@mixin border-top-radius($radius) {
	border-top-right-radius: $radius;
	 border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
	border-bottom-right-radius: $radius;
	   border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: $radius;
	 border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
	border-bottom-left-radius: $radius;
	   border-top-left-radius: $radius;
}
@mixin border-radius ($radius: 5px) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
			border-radius: $radius;

	 -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
    	  background-clip: padding-box;
}

/* 기준이 되는 뷰포트 사이즈 */
$mobile-size : 360;

/* vw 변환 function */
@function vw($target) {
    @if type-of($target)==number {
        @return math.div($target * 100, $mobile-size) * 1vw;
    }

    @else if type-of($target)==list {
        $vw: ();

        @each $value in $target {
            @if type-of($value)==number {
                $vw: append($vw, (($value * 100) / $mobile-size) * 1vw);
            }

            @else if type-of($value)==string {
                $vw: append($vw, $value);
            }
        }

        @return $vw;
    }

    @else {
        @return $target;
    }
}

@mixin popupType() {
	&:not(.type-bottom) {
		.bot-btn-fix{
			height:auto;
			.btn-wrap{
				position:static;
				height:auto;
				padding:10px 0 0;
			}
		}
	}

	&.type-bottom{
		.layer-container{
			padding-bottom:74px;
		}
		.bot-btn-fix{
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			height:auto;
			.btn-wrap{
				position:static;
				height:auto;
			}
		}
	}
}