@charset "UTF-8";

@use 'sass:math'; 

// slide Down && slide Up ( accodion )
@mixin acdo($mh, $mt, $ts, $tcb) {
	visibility:if($mt < 0, hidden, visible);
	max-height:$mh;
	margin-top:$mt;
	transition:all $ts $tcb;
}

// 텍스트 말줄임
@mixin ell($line:1) {
	overflow:hidden;
	text-overflow:ellipsis;
	@if $line > 1 {
		display:-webkit-box;
		-webkit-line-clamp:$line;
		-webkit-box-orient:vertical;
	}@else{
		white-space:nowrap;
	}
}

// icon
@mixin ic($ws, $hs ,$path:null){
    display:inline-block;
    width:$ws;
    height:$hs;
    @if not($path == null or $path == ''){
        $icon-path : $url-ico + $path;
        background-image:url($icon-path);
    }
    background-size:100% 100%;
}

@mixin icType(){
    @each $key, $value in $icon-size {
        &.#{$key}{
            width: map-get($value, "width");
            height: map-get($value, "height");
        }
    }

    @each $key, $file in map-get($icon-size, "file") {
        &.#{$key} {
            background-image: url($url-ico+$file);
        }
    }
}

// button
@mixin buttonType( $border-color, $background-color, $font-color ){
	border-color:$border-color;
	background-color:$background-color;
	color:$font-color;
}

@mixin btnDrt($direction:null){
    @each $key, $value in $btn-size{
        @if ($direction == 'col'){
            &.#{$key}{
                flex-basis: map-get($value, "size");
                font-size: map-get($value, "font-size");
            }
        } @else {
            &.#{$key}{
                height: map-get($value, "size");
                font-size: map-get($value, "font-size");
            }
        }
    }
}

// checkbook && radio
@mixin form(
	$type
	// ,
	// $before-shadow: if($type == checkbox, 0, 3px),
	// $border-radius: if($type == checkbox, 3px, 50%)
) {
	// size
	$checkradio-size:              24px !default;
	// checked border color
	$checkradio-border-primary:  #0d6efd  !default;
	// shadow default color
	$checkradio-shadow-default:  #fff  !default;
	// checked shadow color
	$checkradio-shadow-primary:    $checkradio-border-primary  !default;
	// disabled shadow color
	$checkradio-shadow-disabled: #dee2e6  !default;

	display:inline-block;
	vertical-align:top;
	color:$navy-030;
	font-weight:500;

	input {
		position:absolute;
		width:1px;
		height:1px;
		padding:0;
		margin:-1px;
		overflow:hidden;
		clip:rect(0,0,0,0);
		border:0;

		&:checked ~ span{
			color:$navy-070;
		}
		
		@if($type == "radio"){
			&:checked ~ span{
				&:after{
					background-color:$green-060;
				}
			}
		}

		&:disabled + span {
			color:#adb5bd;
			&:before {
				border-color:$navy-040;
				box-shadow:inset 0 0 0 $checkradio-size $checkradio-shadow-disabled;
			}
		}
	}

	span {
		position:relative;
		display:inline-flex;
		align-items:center;
		vertical-align:top;

		@if($type == "radio"){
			&{
				font-size:$font-lg;
				font-weight:400;
			}
			&{
				&:after{
					display:inline-block;
					position:absolute;
					top:6px;
					left:4px;
					width:12px;
					height:12px;
					content:"";
					border-radius:$border-radius-circle;
					background-color:$gray-000;
				}
	
				&:before{
					background-color:$gray-000;
					border-radius:$border-radius-circle;
				}
			}

			&:before {
				content:'';
				width:20px;
				height:20px;
				margin-right:6px;
				border:2px solid $navy-020;
				box-sizing:border-box;
			}
		} @else {
			&:before {
				content:'';
				width:$checkradio-size;
				height:$checkradio-size;
				margin-right:5px;
			}
		}
	}

	&.no-label {
		span {
			font-size:0;
			line-height:0;
			&:before {
				margin: 0;
			}
		}
	}
}

// theme light or theme dark
@mixin gc-theme($name) {
	// [data-theme="#{$name}"] {
	@media (prefers-color-scheme: #{$name}) {
		@content;
	}
}

// Rounded corners
@mixin border-top-radius($radius) {
	border-top-right-radius: $radius;
	 border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
	border-bottom-right-radius: $radius;
	   border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: $radius;
	 border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
	border-bottom-left-radius: $radius;
	   border-top-left-radius: $radius;
}
@mixin border-radius ($radius: 5px) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
			border-radius: $radius;

	 -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
    	  background-clip: padding-box;
}

// popup 가로 세로
@mixin popupType() {
	&:not(.type-bottom,.type-full) {
		.bot-btn-fix{
			height:auto;
			.btn-wrap{
				position:static;
				height:auto;
				padding:10px 0 0;
			}
		}
	}

	&.type-bottom{
		// .layer-container{
		// 	// padding-bottom:74px;
		// }
		.bot-btn-fix{
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			height:auto;
			.btn-wrap{
				position:static;
				height:auto;
			}
		}
	}
}

// 텍스트 세로 정렬
@mixin vDom(){
	display:inline-flex;
	justify-items:center;
	align-items:center;
}

// input line
@mixin ipLine(){
	.line{
		position:absolute;
		left:0;
		bottom:0;
		z-index:-1;
		width:100%;
		border-radius: $border-radius;

		// .row.error{
		// 	.ip-txt{
		// 		color: $navy-070;
		// 	}
		// }
	}

	&:not(.box){
		.line{
			height:1px;
			background-color: $navy-020;
			transition: $animation;
			
			&:before{
				display:block;
				width:0;
				height:1px;
				position:absolute;
				left:0;
				bottom:0;
				content:"";
				transition: $animation;
			}
		}

		& .ip-txt:focus ~ .line{
			&:before{
				width:100%;
				background-color: $line-color-active;
			}
		}

		& .error{
			.ip-txt{
				color: $validation-error;
			}
			.ip-txt ~ .line{
				&:before{
					width:100%;
					background-color: $validation-error;
				}
			}
		}

		// .ip-txt{
		// 	&:invalid:not(:focus):not(:placeholder-shown)  ~ .line,
		// 	&:invalid:focus:not(:placeholder-shown)  ~ .line{
		// 		&:before{
		// 			width:100%;
		// 			background-color: $validation-error;
		// 		}
		// 	}

		// 	&:before{
		// 		width:100%;
		// 		background-color: $validation-error;
		// 	}
		// }
	}
	
	&.box{
		.line{
			border:1px solid $navy-020;
			height:100%;
			transition: $animation;
		}

		.ip-txt{
			padding:0 40px 0 20px;

			&:focus ~ .line{
				border-color: $line-color-active;
			}
		}

		.icon-group{
			right:17px;
		}

		& .error{
			.ip-txt ~ .line{
				border-color: $validation-error;
			}
		}
		
	}
}
