@charset "UTF-8";

@import "_libs/_mypage01";

// 등급안내
.level-guide {
    li {
        padding: 16px 0;
        border-bottom: 1px solid $navy-010;
        @include flex-center();
        .level-desc {
            margin-left: 10px;
            strong {
                font-size: 14px;
                font-weight: 500;
                .badge {
                    margin-right: 4px;
                }
            }
            .criteria {
                margin-top: 8px;
                color: $navy-040;
                font-size: 10px;
            }
            .benefit {
                margin-top: 4px;
                color: $navy-040;
                font-size: 12px;
                em {
                    color: $navy-070;
                    font-weight: 500;
                    margin-right: 4px;
                }
                p + p {
                    margin-top: 4px;
                }
            }
        }
    }

    .notice {
        color: $navy-040;
        font-size: 14px;
        margin: 16px 0 60px;
    }
}

//내 이동거리
.my-mileage {
    .mileage-img {
        justify-content: center;
        @include flex-center;
    }
    .mileage-desc {
        text-align: center;
        p {
            color: $navy-040;
            font-size: 12px;
            font-weight: 500;
        }
        .total-mileage {
            margin-top: 4px;
            color: $navy-070;
            font-size: 16px;
            font-weight: 500;
        }
        .percent {
            margin-top: 16px;
            color: $navy-070;
            font-size: 16px;
            font-weight: 500;
            span {
                color: $green-060;
                margin-left: 4px;
            }
        }
    }
    .navigation {
        margin-top: 24px;
        overflow-x: scroll;
        ol {
            list-style: none;
            margin: 0;
            padding: 0;
            display: table;
            table-layout: fixed;
            width: 100%;
            color: $navy-020;
            padding: 40px 0 20px;

            .milestone {
                position: relative;
                display: table-cell;
                width: 72px;
                color: $navy-070;
                font-size: 12px;
                font-weight: 500;
                text-align: center;
                span {
                    display: block;
                    font-size: 12px;
                    color: $navy-070;
                    font-weight: 500;
                }
                .pin {
                    position: absolute;
                    top: -40px;
                    left: 21px;
                }
                .dot {
                    content: attr(data-step);
                    display: block;
                    width: 10px;
                    height: 10px;
                    margin: 22px auto;
                    background: white;
                    border: 2px solid $navy-020;
                    text-align: center;
                    margin-bottom: 0.25em;
                    line-height: 10px;
                    border-radius: 100%;
                    box-sizing: border-box;
                    position: relative;
                    top: -10px;
                    z-index: 1000;
                }
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    border-top: 4px dotted $navy-020;
                    top: 31px;
                    left: 50%;
                    z-index: -1;
                }

                &.start {
                    position: relative;
                    .dot {
                        content: " ";
                        display: block;
                        width: 24px;
                        height: 24px;
                        border: 0;
                        background: url(#{$url-content}ic_car_move.svg) center center no-repeat !important;
                        margin: 4px auto;
                        top: 0;
                    }
                }
                &.done {
                    .dot {
                        background: $green-060;
                        border: 2px solid $green-060;
                    }
                    &::after {
                        border-top: 4px solid $green-060;
                    }
                }
                &.current {
                    &:before {
                        content: " ";
                        display: block;
                        width: 30px;
                        height: 32px;
                        background-image: url(#{$url-content}gz_pin.svg);
                        position: absolute;
                        top: -40px;
                        left: calc(50% - 15px);
                    }
                    .dot {
                        background: $green-060;
                        border: 2px solid $green-060;
                    }
                    &::after {
                        border-top: 4px solid $navy-020;
                    }
                }
                &:last-child {
                    &::after {
                        border-top: 0;
                    }
                }
                &.finish {
                    .dot {
                        background: $green-060;
                        border: 2px solid $green-060;
                    }
                }
                .date-reached {
                    color: $navy-040;
                    font-size: 12px;
                    margin-top: 2px;
                }
            }
        }
    }
}

.layer-body {
    .wrap {
        .img-area {
            margin: 16px 0;
            &.al-center {
                justify-content: center;
                @include flex-center;
            }
        }
    }
}

.level-up {
    .level-badge {
        margin: 16px 0;
        justify-content: center;
        @include flex-center;
        .img-wrap {
            width: 118px;
            height: 124px;
            background-image: url(#{$url-content}flakes.svg);
            background-repeat: no-repeat;
            justify-content: center;
            @include flex-center;
            > img {
                width: 88px;
                height: 88px;
            }
        }
    }
    .box {
        padding: 20px;
        background-color: $navy-020;
        .desc-list {
            li {
                display: inline-flex;
                justify-content: space-between;
                width: 100%;
                .name {
                    width: initial !important;
                }
            }
            li + li {
                margin-top: 16px;
            }
        }
    }
    .box + p {
        margin-top: 16px;
    }
}

// 내 포인트
.point-history {
    h3 {
        color: $navy-070;
        font-size: 12px;
        font-weight: 500;
    }
    .point-summary {
        padding: 24px 0;
        border-bottom: 1px solid $navy-020;
        .title {
            margin-bottom: 16px;
        }
        .value {
            color: $green-060;
            font-size: 22px;
            font-weight: 600;
            text-align: right;
        }
    }
    .point-summary + .list {
        margin: 16px 0;
    }
    .row {
        padding: 20px 0;

        @include flex-center;
        > div {
            @include flex-center;
        }
        .right {
            margin-left: auto;
            .value {
                font-size: 16px;
                font-weight: 600;
            }
        }
        .btn {
            margin-left: 4px;
        }
    }
    .point-history-list {
        li {
            padding: 24px 0;
            @include flex-center;
            > div {
                * + * {
                    margin-top: 8px;
                }
                span {
                    display: block;
                }
            }
            .left {
                color: $navy-040;
                font-size: 14px;
                .desc {
                    color: $navy-070;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            .right {
                margin-left: auto;
                text-align: right;

                .get {
                    color: $green-060;
                    font-size: 16px;
                    font-weight: 600;
                }
                .use {
                    color: $navy-070;
                    font-size: 16px;
                    font-weight: 600;
                }
                .balance {
                    color: $navy-040;
                    font-size: 14px;
                }
            }
            &:before {
                content: " ";
                display: block;
                width: 10px;
                height: 10px;
                margin-right: 20px;
                background-repeat: no-repeat;
            }
            &.plus {
                &:before {
                    background-image: url(#{$url-ico}icon_plus_gray.svg);
                }
            }
            &.minus {
                &:before {
                    background-image: url(#{$url-ico}icon_minus_gray.svg);
                }
            }
        }
        li + li {
            border-top: 1px solid $navy-020;
        }
    }
}

// 그린 댓글
.my-reply {
    .reply-item + .reply-item {
        &::before {
            content: " ";
            display: block;
            height: 7px;
            margin: 0 -20px;
            background-color: $gray-010;
            border-top: 1px solid $gray-020;
        }
    }
    .my-reply-top {
        height: 48px;
        background-color: $gray-005;
        font-size: 12px;
        font-weight: 500;
        @include flex-center;
        .count {
            margin-left: 2px;
        }
    }
    .reply-head {
        padding: 24px 0 8px;
        border-bottom: 1px solid $navy-020;
        @include flex-center;
        .car-desc {
            @include flex-center;
            * + * {
                margin-left: 8px;
            }
            .car-img {
                width: 40px;
                height: 24px;
                overflow: hidden;
            }
            .car-num {
                color: $navy-040;
                font-size: 12px;
            }
        }
        .write-date {
            color: $navy-040;
            font-size: 12px;
            font-weight: 500;
        }
        .btn {
            margin-left: auto;
        }
    }
    .reply-body {
        padding: 8px 0;
        .img {
            width: 84px;
            height: 84px;
            margin-top: 16px;
            border-radius: $border-radius;
            overflow: hidden;
        }
    }
    .reply-footer {
        padding-bottom: 24px;
        @include flex-center;
        > div {
            gap: 2px;
            @include flex-center;
        }
        .like {
            margin-right: 16px;
            &.on {
                .count {
                    color: $green-060;
                    font-weight: 500;
                }
            }
        }
    }
    .comment-wrap {
        .comment-item {
            padding: 16px 0;
            background-color: $gray-010;
            .comment-head {
                font-size: 12px;
                font-weight: 500;
                padding-bottom: 8px;
                @include flex-center;
                .profile {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-image: url(#{$url-ico}icon_profile.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                }
                .name {
                    margin-left: 8px;
                }
                .date {
                    color: $navy-040;
                    margin-left: 16px;
                }
            }
            .comment-body {
                color: $navy-070;
                font-size: 14px;
                font-family: 500;
            }
        }
    }
}

// 그린댓글 수정
.edit-reply {
    section {
        padding: 32px 0;
    }
    .car-info {
        margin-bottom: 24px;
        justify-content: center;
        @include flex-center;
        .img {
            width: 110px;
            height: 110px;
        }
        .info {
            margin-left: 16px;
            strong {
                font-size: 18px;
            }
            span {
                color: $navy-040;
                font-size: 12px;
                display: block;
            }
            .option {
                @include flex-center;
                .bar {
                    width: 1px;
                    height: 12px;
                    background-color: $navy-020;
                    margin: 0 4px;
                    border: 0;
                }
            }
        }
    }
    .img-area {
        width: 100%;
        height: 180px;
        overflow: hidden;
        vertical-align: middle;
        position: relative;
        img {
            width: 100%;
        }
        .btn {
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 10;
        }
    }
    .title-sm + p {
        color: $navy-040;
        font-size: 14px;
        margin: 16px 0 8px;
    }
}

// 내가 초대한 친구
.invited-friend {
    .guide-box {
        color: $navy-040;
        font-size: 12px;
        margin: 0 -20px;
        padding: 16px 20px;
        background-color: $gray-020;
        text-align: center;
    }
    .friend-list-wrap {
        .list-head {
            padding: 32px 0 24px;
            border-bottom: 1px solid $navy-020;
            @include flex-center;
            > span{
                color: $navy-070;
               font-size: 14px;
               font-weight: 500;
               em{
                color: $green-060;
                font-size: 16px;
                font-weight: 700;
                margin-left: 4px;
               } 
            }
            .switch-wrap {
                margin-left: auto;
                span + label{
                    margin-left: 8px;
                }
            }
        }
        .list-body {
            .list-item {
                height: 86px;
                @include flex-center;
                &:before {
                    content: " ";
                    display: block;
                    width: 38px;
                    height: 38px;
                    background-image: url(#{$url-content}img_partner_logo.svg);
                    background-size: contain;
                }
                &.lpoint {
                    &:before {
                        background-image: url(#{$url-content}lpoint.svg);
                    }
                }
                .text {
                    margin-left: 16px;
                }
                .no-verify{
                    i{
                        display: none;
                    }
                    .text{
                        color: $navy-02 0;
                    }
                }
            }
            li {
                + li {
                    border-top: 1px solid $navy-020;
                }
                &:last-child{
                    border-bottom: 1px solid $navy-020;
                }
            }
        }
        .left {
            .text {
                color: $navy-040;
            }
        }
        .right {
            margin-left: auto;
            .text {
                color: $green-060;
                font-size: 16px;
                font-weight: 700;
                margin-left: 8px;
            }
            @include flex-center;
        }
    }
}
