@charset "UTF-8";

@import "_libs/_reservation01";

@mixin flex-center {
    display: flex;
    align-items: center;
}

.mt60 {
    margin-top: 60px;
}
.pt0{
    padding-top: 0 !important;
}
.pb0{
    padding-bottom: 0px !important;
}
hr.divider {
    display: block;
    background-color: $navy-010;
    height: 7px;
    border: 0;
    border-top: 1px solid $gray-020;
    margin: 0 -20px;
}

.list {
    li {
        font-size: 16px;
        color: #8c989e;
        position: relative;
        padding-left: 16px;
        &:before {
            content: " ";
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 2rem;
            background-color: #8c989e;
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
    li + li {
        margin-top: 8px;
    }
    &.xs {
        li {
            font-size: 12px;
            padding-left: 12px;
            &:before {
                width: 3px;
                height: 3px;
                top: 8px;
            }
        }
        li + li{
            margin-top:4px;
        }
    }
    &.sm {
        li {
            font-size: 14px;
            padding-left: 12px;
            &:before {
                width: 3px;
                height: 3px;
                top: 8px;
            }
        }
    }
}


.section {
    padding: 24px 0;
    .section-title {
        // color: $navy-070;
        // font-size: 16px;
        // font-weight: 500;
        margin-bottom: 16px;
    }
}


.reservation {
    position: relative;
    .wrap {
        padding: 26px 0;
    }
    .title,
    .desc-xl {
        margin-bottom: 24px;
        font-size: 20px;
        font-weight: 700;
        .emphasis {
            color: #fd8484;
        }
    }
   
    > section {
        padding: 22px 0 30px;
        h2 {
            margin-bottom: 20px;
            + p {
                color: $navy-070;
                font-size: 16px;
                font-weight: 500;
            }
        }
        h3 {
            margin-top: 20px;
        }
        .list {
            margin-top: 10px;
            li + li {
                margin-top: 10px;
            }
        }
    }
}

// 약관 동의
.agreement {
    .gc-checkbox {
        display: block;
    }
    .item {
        button {
            display: flex;
            align-items: center;
            width: 100%;
            line-height: 34.17px;// Actual Touch Target size 고려하여 line-height로 간격조정
            .text {
                color: #8c989e;
                font-size: 16px;
            }
            .ico {
                margin-left: auto;
            }
        }
    }
    // .item + .item {
    //     margin-top: 10px;
    // }
    .check-all {
        border-bottom: 1px solid #d9dddf;
        padding-bottom: 10px;
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 500;
        .gc-checkbox {
            span {
                color: #303e47;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    .inner {
        padding: 0 4px 0 10px;
    }
}

// [화면] 할인/적립 - 쿠폰
.coupon {
    .section {
        padding: 26px 0 30px;
    }
    .section-title {
        font-size: 12px;
        font-weight: bold;
        color: $navy-070;
        margin-bottom: 14px;
        @include flex-center();
        h3 {
            @include flex-center();
        }
        .badge-num {
            color: $green-060;
            font-size: 16px;
            font-weight: 700;
            margin-left: 4px;
        }
        .filter {
			height:24px;
			line-height:24px;
            margin-left: auto;
            @include flex-center();
            .ctr {
				font-size:$font-sm;
                color:$navy-070;
                font-weight:500;
				.ico{
					margin-left:4px;
					vertical-align:top;
				}
            }
        }
    }
    
    .section-cont {
        font-size: 16px;
        font-weight: 700;
        .ip-group{
            .btn{
                padding: 0 20px;
            }
        }
    }

    .coupon-list {
        margin-top: 18px;
        > * + * {
            margin-top: 16px;
        }
        .coupon-item {
            padding: 24px;
            border: 1px solid $navy-020;
            border-radius: $border-radius;
            position: relative;
            background: url(../images/common/bg_g_mark.svg) no-repeat right 18px;
            .discount-type {
                display: inline-flex;
                align-items: center;
                height: 22px;
                padding: 0 12px;
                color: $navy-050;
                font-size: 12px;
                font-weight: normal;
                background-color: $navy-010;
                border-radius: 2rem;
            }
            .discount-value {
                margin-top: 4px;
                @include flex-center();
                span {
                    &:nth-child(1) {
                        color: $navy-070;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    &:nth-child(2) {
                        margin-left: 4px;
                        color: $green-040;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
            .discount-value + p {
                margin-top: 8px;
                color: $navy-070;
                font-size: 12px;
                font-weight: normal;
                // @include ell;
            }
            .effective-date {
                margin-top: 4px;
                @include flex-center();
                .date {
                    color: $navy-040;
                    font-size: 14px;
                    font-weight: normal;
                }
                .date + * {
                    margin-left: 4px;
                }
            }
            &.expired {
                border: 0;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: $border-radius;
                    border: 1px solid #989b9d;
                    background-color: rgba($color: #40535e, $alpha: 0.4);
                    z-index: 10;
                }
            }
        }
    }
}
// .btn-filter {
//     height: 34px;
//     padding: 0 12px;
//     background-color: #fff;
//     border: 1px solid $navy-020;
//     border-radius: 2rem;
//     position: fixed;
//     left: 50%;
//     bottom: 40px;
//     transform: translateX(-50%);
//     z-index: 100;
//     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
//     @include flex-center();
//     .text {
//         color: $navy-060;
//         font-size: 14px;
//         margin-left: 4px;
//     }
// }

//멤버십
.membership {
    padding: 26px 0 30px;
	.ip-txt{
		font-size:$font-md;
	}
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 160px;
		margin-bottom:24px;
        padding: 20px 20px 20px;
        border-radius: $border-radius;
        .logo {
            @include flex-center();
            .logo-img {
                width: 32px;
                height: 32px;
            }
            span {
                color: $gray-000;
                font-size: 20px;
                font-weight: bold;
                margin-left: 4px;
            }
        }
        .logo + * {
            margin-top: auto;
        }
        .btn-register {
            width: 180px;
            height: 48px;
            margin: 0 auto;
            margin-top: 32px;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000000;
            border-radius:10px;
            justify-content: center;
            @include flex-center();
            i + .text {
                margin-left: 10px;
            }
        }
        &.kt {
            background-color: $gray-080;
            .logo-img {
                background: url(#{$url-content}kt_logo.svg) no-repeat;
            }
        }
        &.skt {
            background-color: #443085;
            .logo-img {
                background: url(#{$url-content}skt_logo.svg) no-repeat;
            }
			.btn-register {
				background: rgba(0, 0, 0, 0.45);
			}
        }
        &.lpoint {
            background-color: $blue-050;
            .logo-img {
                width: 100px;
                height: 18px;
                background: url(#{$url-content}lpoint_logo_w.svg) no-repeat;
            }
        }
    }
	.ip-group.unit{
		margin-top:24px;
	}
    .section {
		&.pd-bot{
			padding-bottom:24px;
		}
        .section-tit {
			position:relative;
            font-size:$font-sm;
            margin-bottom: 12px;
			.btn-link{
				line-height:24px;
				color:$navy-070;
				font-size:$font-sm;
				&:last-child{
					position:absolute;
					top:50%;
					right:0;
					transform:translate(0,-50%);
				}
				.under{
					text-decoration-line: underline;
				}
			}
			.ico{
				vertical-align:top;
			}
        }
        h4 {
            margin-top: 12px;
            font-size: 18px;
            font-weight: bold;
        }
        .list {
            margin-top: 12px;
            li + li {
                margin-top: 6px;
            }
        }
    }

    .point-info {
        .item {
			display:flex;
			margin-top:3px;
			align-items:flex-end;
            color: $gray-000;
            .title{
				flex:1;
				flex-basis:45%;
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 0;
            }
            .desc {
				flex:1;
				flex-basis:55%;
				text-align:right;
				font-size:$font-xl;
				font-weight:500;
            }
        }
    }
    .point-use {
		padding-bottom:24px;
        input[type="text"] {
            width: 100%;
            height: 60px;
            border-radius: $border-radius;
            background-color: $gray-000;
            border: 1px solid $navy-020;
            text-align: center;
            color: $navy-070;
            font-size: 16px;
            font-weight: 500;
            &.disabled-point {
                color: $gray-000;
				background-color:$navy-020;
            }
        }
    }
    .point-input{
		padding-right:0;
        color: $navy-070;
        font-weight: 700;
        text-align: right;
    }
    .btn-area {
        margin-bottom: 12px;
        text-align: right;
        .btn-link {
            color: $blue-050;
            font-size: 13px;
            text-decoration: underline;
        }
        &.both-sides {
            display: flex;
            justify-content: space-between;
        }
    }
}
.ip-card-module {
	display:flex;
    margin-bottom: 6px;
    padding-right:56px;
	.ip-txt{
		height:48px;
		font-size:$font-lg;
	}
}
// [팝업] 예약결제 안내
.layer-body {
    .box:not(.ip-group) {
        padding: 16px 20px;
        margin-top: 20px;
        border-radius: 8px;
        background-color: $navy-010;
        .desc-list {
            font-size: 14px;
            li + li {
                margin-top: 4px;
            }
            .name {
                display: inline-block;
                width: 80px;
                margin-right: 8px;
                color: $navy-040;
            }
            .value {
				float:right;
                color: $navy-070;
                font-weight: 500;
            }
        }
    }
}

// [팝업] 그린카 금연서약
.layer-body {
    .wrap {
        .emphasis {
            color:$red-060;
            margin-top: 12px;
        }
        .sign {
            margin-top: 16px;
            color: $navy-070;
            font-size:$font-md;
            text-align: right;
            em {
                margin-left: 4px;
                font-weight: 700;
            }
        }
    }

	// 쿠폰 순서선택
	.coupon-choice{
		margin:0 -20px;
		padding:0 20px 18px;
		border-top:1px solid $navy-020;	
		.block{
			padding:12px 0;
		}
		.gc-radio{
			display:block;
			line-height:24px;
		}
	}
}
.layer-footer {
    .btn-group {
        &.single {
            .btn {
                min-width: 135px;
            }
        }
    }
}



.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    color: #fff;
    &.normal {
        background-color: $navy-040;
    }
    &.warning {
        background-color: rgba($color: $red-060, $alpha: 0.5);
    }
    &.pink{
        background-color: #F8679C;
    }
    &.green{
        background-color: $green-060;
    }
    &.line{
        color: $navy-070;
        border: 1px solid $navy-020;
    }
    &.sm {
        height: 16px;
        min-width: 40px;
        padding: 0 8px;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.05rem;
    }
    &.md {
        height: 18px;
        padding: 0 6px;
        font-size: 10px;
        font-weight: 400;
    }
}




