@charset "UTF-8";

@import "_libs/_reservation01";


.layer-body {
    .box {
        padding: 20px;
        margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f2f2f2;
        .desc-list{
			li + li{
				margin-top: 8px;
			}
			.name{
				display: inline-block;
				width: 80px;
				font-weight: bold;
			}
		}
    }
}

.reservation{
	.title{
		margin-bottom: 24px;
		font-size: 20px;
		.emphasis{
			color: #FD8484;
		}
	}
	.list{
		li{
			font-size: 16px;
			color: #8C989E;
			position: relative;
			padding-left: 16px;
			&:before{
				content: " ";
				display: inline-block;
				width: 4px;
				height: 4px;
				border-radius: 2rem;
				background-color: #8C989E;
				position: absolute;
				top: 10px;
				left: 0;

			}
		}
		li + li{
			margin-top: 24px;
		}
	}

	&.free_popup{
		margin-top:23px;
	}
}
