@charset "UTF-8";

/* select */
select {
	height:24px;
	padding:0 32px 0 0;
	// border:1px solid red;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:right center;
	background-image:url(#{$url-ico}icon_arrow_bot_navy060.svg);
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor: pointer;
	@include fontSize(14);
	@include ell;

	&::-ms-expand {
		display: none;
	}
}