@charset "UTF-8";

/* switch */
.gc-switch {
	// switch width
	$switch-width:50px !default;
	// switch height
	$switch-height:25px !default;
	// switch 내부 원형아이콘 top bottom left right 여백
	$switch-before-margin:3px !default;
	// switch 내부 원형아이콘 size
	$switch-before-size:calc($switch-height - $switch-before-margin * 2) !default;
	
	display:inline-block;
	vertical-align:top;
	input {
		position:absolute;
		width:1px;
		height:1px;
		padding:0;
		margin:-1px;
		overflow:hidden;
		clip:rect(0, 0, 0, 0);
		border:0;
		&:checked {
			& + span {
				background-color:#0d6efd;
				&:before {
					transform: translateX(calc($switch-width - $switch-before-size - $switch-before-margin * 2));
				}
			}
			&:disabled {
				& + span {
					background-color:#6c757d;
				}
			}
		}
		&:disabled {
			& + span {
				background-color:#dee2e6;
			}
		}
	}
	span {
		position:relative;
		display:block;
		width:$switch-width;
		height:$switch-height;
		background-color:#adb5bd;
		border-radius:calc($switch-height / 2);
		font-size:0;
		line-height:0;
		transition: background-color .3s;
		&:before {
			content:'';
			position:absolute;
			left:$switch-before-margin;
			top:$switch-before-margin;
			width:$switch-before-size;
			height:$switch-before-size;
			background-color:#fff;
			border-radius:100%;
			transform:translateX(0);
			transition:transform .3s;
		}
	}
}