@charset "UTF-8";

// title default 20
.title{
	font-size: $font-xl; //20
	font-weight:700;

	&-md{
		font-size: $font-lg; //18
		font-weight:700;
	}
	&-sm{
		font-size:$font-md; //16
		font-weight:500;
	}
	&-xs{
	}
}
 
// description default 15
.desc{
	font-size:14px;

	&-xs{
		font-size: $font-xs; //10
	}
	&-sm{
		font-size: $font-sm; //12
	}

	&-md{
		font-size: $font-md; //16
	}
	&-xl{
		font-size: $font-xl; //20
		line-height: 32px;
	}
}

.deco-througt{
	text-decoration:line-through;
}

.tag{
	@include vDom();

	height:24px;
	margin-left:3px;
	padding:0 7px;
	font-size:$font-sm;
	color:#6E7375;
	line-height:17px;
	border-radius: 4px;
	vertical-align:middle;
	background-color:#F3F4F5;

	&:first-child{
		margin-left:0;
	}

	&.sale{
		color:#4285F4;
		background-color:#E4F2FF;
	}
}

.txt-list{
	&.dot{
		li,p{
			position:relative;
			padding-left:15px;
			font-size:$font-md;
			line-height:23px;
			color:$navy-040;
	
			&:not(:first-child){
				margin-top:10px;
			}
	
			&:before {
				display: inline-block;
				position: absolute;
				top: 10px;
				left: 0;
				width: 4px;
				height: 4px;
				content: " ";
				border-radius: 2rem;
				background-color: #8c989e;
			}
		}
	}
}