@charset "UTF-8";

// title default 20
.title{
	font-size: $font-xl;
	font-weight:500;

	&-md{
		font-size: $font-lg; //18
		font-weight:500;
	}
	&-sm{
		font-size:$font-md; //16
		font-weight:500;
	}
	&-xs{
		font-size:$font-sm; //12
		font-weight:500;
	}
}
 
// description default 15
.desc{
	font-size:14px;
	line-height:20px; 

	&-xs{
		font-size: $font-xs; //10
		line-height:12px;
	}
	&-sm{
		font-size: $font-sm; //12
		line-height:16px;
	}

	&-md{
		font-size: $font-md; //16
		line-height:24px;
	}
	&-xl{
		font-size: $font-lg; //18
		line-height: 24px;
	}
}

.deco-througt{
	text-decoration:line-through;
}

.tag{
	@include vDom();

	height:18px;
	margin-left:2px;
	padding:0 8px;
	color:$gray-000;
	font-size:$font-xs;
	font-weight:500;
	border-radius:999px;
	background-color: $navy-060;

	&.green{
		background-color: $default;
	}

	&.tag {
		&-car{
			&.plus{
				border:2px solid $yellow-060;
				background-color: #000000;
			}
			&.new{
				background-color: $light-blue-040;
			}
		}
		&-info{
			height:24px;
			margin-left:8px;
			padding:0 10px;
			font-size:$font-sm;
			font-weight:700;
			background-color: $navy-060;
			&::before{
				display:inline-block;
				margin-right:4px;
				content:"";
				background-repeat:no-repeat;
				background-size:100%;
			}
			&.ico01{
				&::before{
					width:7px;
					height:12px;
					background-image:url(#{$url-content}bg_res_ico01.svg);
				}
			}
			&.ico02{
				&::before{
					width:18px;
					height:12px;
					background-image:url(#{$url-content}bg_res_ico02.svg);
				}
			}
			&.ico03{
				&::before{
					width:15px;
					height:11px;
					background-image:url(#{$url-content}bg_res_ico03.svg);
				}
			}
			&.ico04{
				&::before{
					width:8px;
					height:12px;
					background-image:url(#{$url-content}bg_res_ico04.svg);
				}
			}
		}
	}
}

.txt-list{
	&.dot{
		li,p{
			position:relative;
			padding-left:15px;
			font-size:$font-md;
			line-height:23px;
			color:$navy-040;
	
			&:not(:first-child){
				margin-top:10px;
			}
	
			&:before {
				display: inline-block;
				position: absolute;
				top: 10px;
				left: 0;
				width: 4px;
				height: 4px;
				content: " ";
				border-radius: 2rem;
				background-color: #8c989e;
			}
		}
	}
}


.list {
    li {
        font-size: 16px;
        color: #8c989e;
        position: relative;
        padding-left: 16px;
        &:before {
            content: " ";
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 2rem;
            background-color: #8c989e;
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
    li + li {
        margin-top: 8px;
    }
    &.xs {
        li {
            font-size: 12px;
            padding-left: 12px;
            &:before {
                width: 3px;
                height: 3px;
                top: 8px;
            }
        }
        li + li{
            margin-top:4px;
        }
    }
    &.sm {
        li {
            font-size: 14px;
			line-height:20px;
            padding-left: 12px;
            &:before {
                width: 3px;
                height: 3px;
                top: 9px;
            }
        }
    }
	&-number{
		li{
			position:relative;
			margin-top:8px;
			padding-left:16px;
			text-indent:-14px;
			font-size:$font-sm2;
			line-height:20px;
			color:$navy-040;
			&:first-child{
				margin-top:0;
			}
		}
	}
}