@charset "UTF-8";

// url
$url-path:    "../images/" !default;
$url-fonts:   "../fonts/" !default;
$url-common:  $url-path+"common/" !default;
$url-content: $url-path+"contents/" !default;
$url-ico:     $url-path+"icon/" !default;

// font-size
$font-xs:  10px !default;
$font-sm:  12px !default;
$font-sm2: 14px !default;
// 디폴트 사이즈 body 15 가정
$font-md:  16px !default;
$font-lg:  18px !default;
$font-xl:  20px !default;
$font-xl2: 24px !default;
$font-xl3: 28px !default;
$font-xl4: 32px !default;

// color
$red-060			: #d32828 !default;
$yellow-060			: #fed500 !default;
$pink-040			: #fd8484 !default;
$pink-060			: #eb6565 !default;
$orange-050			: #fd9f4d !default;
$puple-040			: #a87df9 !default;

$fuchsia-050		: #f8679c !default;
$fuchsia-090		: #d22061 !default;

$blue-040			: #467bce !default;
$blue-050			: #009bfa !default;
$light-blue-040		: #5b68fe !default;

$gray-000			: #fff !default;
$gray-005			: #f8f8f8 !default;
$gray-010			: #f1f1f1 !default;
$gray-020			: #e2e2e2 !default;
$gray-030			: #d4d4d4 !default;
$gray-040			: #c5c5c5 !default;
$gray-050			: #b7b7b7 !default;
$gray-060			: #898989 !default;
$gray-070			: #5c5c5c !default;
$gray-080			: #2e2e2e !default;
$gray-090			: #121212 !default;

$green-010			: #e9f7ef !default;
$green-020			: #d2eddd !default;
$green-030			: #a6dbbb !default;
$green-040			: #79c99a !default;
$green-050			: #4db778 !default;
$green-060			: #20a556 !default;
$green-070			: #187c41 !default;
$green-080			: #10532b !default;
$green-090			: #082916 !default;
$green-100			: #031109 !default;

$navy-010			: #eceeef !default;
$navy-020			: #d9dddf !default;
$navy-030			: #b3babf !default;
$navy-040			: #8c989e !default;
$navy-050			: #66757e !default;
$navy-060			: #40535e !default;
$navy-070			: #303e47 !default;
$navy-080			: #202a2f !default;
$navy-090			: #101518 !default;
$navy-100			: #060809 !default;

$black         		: #000 !default;
$black-100     		: #333 !default;

$gray-light    		: #CFD4D7 !default;
$gray          		: #636363 !default;


// border-radius
$border-radius       : 8px !default;
$border-radius-20    : 20px !default;
$border-radius-50    : 50px !default;
$border-radius-circle: 50% !default;



















































// // light theme && dark theme
// $themes: (
// 	// light : light모드 변수 선언
// 	light: (
// 		// button default
// 		btn-color-default:  #fff,
// 		btn-color-disabled: #333,
// 		btn-border-default: #000,
// 		btn-bg-default:     #000,
// 		btn-bg-disabled:    #999,
// 		// button type
// 		btn-primary:        #0d6efd,
// 		btn-secondary:      #198754,
// 		btn-success:        #6610f2,
// 		btn-info:           #0dcaf0,
// 		btn-warning:        #ffc107,
// 		btn-danger:         #dc3545,
// 	),
// 	// dark : dark모드 변수 선언
// 	dark: (

// 	),
// );

// :root {
// 	@each $theme, $map in $themes {
// 		@if($theme == light){  
// 			@each $key, $submap in $map {
// 				$value: map-get(map-get($themes, $theme), '#{$key}');
// 				--#{$key}:#{$value};
// 			}
// 		}@else{
// 			// &[data-theme="dark"] {
// 			@media (prefers-color-scheme: dark) {
// 				@each $key, $submap in $map {
// 					$value: map-get(map-get($themes, $theme), '#{$key}');
// 					--#{$key}:#{$value};
// 				}
// 			}
// 		}
// 	}
// }

// @function gc($variable) {
// 	@return var(--#{$variable});
// };