@charset "UTF-8";

@import "variables";
@import "mixin";
@import "common";
@import "text";
@import "button";
@import "input";
@import "select";
@import "radio";
@import "checkbox";
@import "switch";
@import "tab";
@import "layer";
@import "quick-menu";
@import "icon";
// @import "bundle";
// 카테고리 scss
@import "member";			// 회원계정
@import "reservation";		// 차량예약
@import "ct";		// 차량예약
@import "benefit";			// 혜택
@import "history";			// 이용내역
@import "mypage";			// 내정보
@import "customer";			// 고객센터
@import "status";			// 사고접수&현황
//공통영역은 contents.scss 스타일시트 작성
@import "etc";				// 장애 + 기타

// tmp 임시
.tmp-txt1 {
	margin:20px 0;
	@include ell;
}
.tmp-txt2 {
	margin:20px 0;
	@include ell(2);
}
.tmp-txt3 {
	margin:20px 0;
	@include ell(3);
}

.tmp-guide-box {
	margin:20px;
	padding:20px;
	border:1px solid #ccc;
	border-radius:$border-radius;
	box-shadow:0 0 15px #888888;
	&.guide-btn {
		button:not(.btn-block) {
			margin: 2px;
		}
	}
	.guide-box-tit {
		margin:0 0 20px 0;
		color:black;
		font-size:20px;
		font-weight:700;
	}
}
