			@@if (type === "main"){
			<header id="header">
				<div class="head-cont">
					<div class="head-wrap">
						<div class="head">
							<div class="left">
								<button type="button" class="btn"><i class="ico bell sm"></i></button>
							</div>
							<div class=""><h1 class="logo"><a href="">Title</a></h1></div>
							<div class="right">
								<button type="button" class="btn"><i class="ico user sm"></i></button>
							</div>
						</div>
					</div>
				</div>
			</header>
			}
			
			@@if (type === "sub_01"){
			<!-- 뒤로가기 버튼 |  타이틀  | 세팅 버튼 -->
			<header id="header">
				<div class="head-cont">
					<div class="head-wrap">
						<div class="head">
							<div class="left">
								<button type="button" class="btn-head">
									<i class="ico back lg"></i>
								</button>
							</div>
							<h2 class="title">@@title</h2>
							<div class="right">
								<button type="button" class="btn-head">
									<i class="ico home lg"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</header>
			}

			@@if (type === "sub_02"){
				<!-- 뒤로가기 버튼 |  타이틀  | 세팅 버튼 -->
				<header id="header">
					<div class="head-cont">
						<div class="head-wrap">
							<div class="head">
								<div class="left">
									<button type="button" class="btn-head">
										<i class="ico back lg"></i>
									</button>
								</div>
								<h2 class="title">@@title</h2>
						</div>
					</div>
				</header>
				}

			@@if (type === "search"){
			<!-- 뒤로가기 버튼 |  타이틀  | 세팅 버튼 -->
			<header id="header">
				<div class="head-cont">
					<div class="head-wrap">
						<div class="head search">
							<div class="left">
								<button type="button" class="btn-head">
									<i class="ico back lg"></i>
								</button>
							</div>
							<div class="search-field">
								<input type="text">
							</div>
							<div class="right">
								<button type="button" class="btn-head">
									<i class="ico delete lg"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</header>
			}

			@@if (type === "sub_pop"){
			<div class="head popup">
				<!-- <div class="left">
					<button type="button" class="btn-head">
						<i class="ico close md"></i>
					</button>
				</div> -->
				@@if (title !== false){
					<h2 class="title">@@title</h2>
				}
				<button type="button" class="layer-close">
					<i class="ico close lg"></i>
					<span class="hide-txt">닫기</span>
				</button>
			</div>
			}

	<!-- <script>
		window.scrollPosition = document.documentElement.scrollTop || 0;
		let documentY, direction, headHeight;
		
		document.addEventListener('DOMContentLoaded', function(){
			scrollDirection(documentY, direction, headHeight);
		});

		document.addEventListener('scroll', function () {
			scrollDirection();
		});

		const scrollDirection = () => {
			headHeight = document.querySelector('#header .head-wrap').offsetHeight;
			documentY = document.documentElement.scrollTop;
			direction = documentY - window.scrollPosition >= 0 ? 1 : -1;

			if( 0 < documentY){
				document.querySelector('.head-cont').style.height = headHeight + 'px';
				document.querySelector('#header .head-wrap').classList.add('fixed');
			} else {
				document.querySelector('.head-cont').removeAttribute('style');
				document.querySelector('#header .head-wrap').classList.remove('fixed');
			}

			if (direction === 1) {
				console.log('scrollDown')
				document.querySelector('html').classList.remove('ani');
			} else {
				console.log('scrollUp')
				document.querySelector('html').classList.add('ani');
			}

			window.scrollPosition = documentY;
		}
	</script> -->
